[2014-08-10 22:59] rtyler opened #1 "Using the torquebox maven repository should be configurable"

[2014-08-10 23:00] rtyler opened #2 "Plugin should have a jrubyJar task for building runnable jars"
Similar to [warbler's](https://github.com/jruby/warbler) runnable jar functionality

[2014-08-10 23:01] rtyler opened #3 "Plugin should be released to maven central"

[2014-08-10 23:02] rtyler opened #4 "jrubyWar should include a web.xml if the app doesn't have one"

[2014-08-10 23:53] rtyler opened #5 "publish sourcejars to bintray"

[2014-08-11 00:02] rtyler opened #6 "clean task should nuke .jarcache, .gemcache and vendor/"

[2014-08-13 18:25] rtyler opened #7 "plugin should have a minimum of 1.7 runtime requirement"

[2014-08-13 18:27] rtyler opened #8 "rubygems maven repository is not being set properly"

[2014-08-13 20:13] rtyler opened #9 "Need to document the purpose of the jrubyEmbed and jrubyWar configurations"

[2014-08-13 22:30] #3 closed, assigned to nobody

[2014-08-14 17:58] #7 closed, assigned to nobody

[2014-08-14 17:58] #8 closed, assigned to nobody

[2014-08-14 18:50] #6 closed, assigned to nobody

[2014-08-14 18:50] #9 closed, assigned to nobody

[2014-08-15 01:18] #1 closed, assigned to nobody

[2014-08-15 04:18] #5 closed, assigned to nobody

[2014-08-15 15:39] rtyler opened #10 "I should be able to specify what version of JRuby to use"

[2014-08-15 15:58] ysb33r opened #11 "Add plugins to jcenter"
If plugin is linked into `jcenter` then the line 25

[code]

in `JRubyPlugin.groovy` will no longer be required.

[2014-08-15 16:21] ysb33r opened #12 "Add a JRubyExec task and project extension."
This is along the lines of `JavaExec` or `RhinoShellExec`. We would like to have the ability to execute a Ruby script as a task.

_As a task_:

[code]

_As a project extension_:

[code]

[2014-08-15 16:34] ysb33r opened #13 "Use more than one rubygems repository"
I am taking a stab at a better way to define Ruby repositories, especially given that one can host additional rubygem repositories on `Bintray`. I think this is a much better approach that `jruby.gemrepo_url`

[code]

[2014-08-18 17:40] ysb33r opened #15 "Remove dependency on system JRuby"
A key for Gradle builds is to be as independent on local installations of tools as possible. (With native builds that is a different matter, but let's try to stick to the first objective)

`JRubyPlugin.gemInstall` still relies on `ruby` to be installed locally. I guess it would be better if it can call  `jruby -S gem install` instead. The `jruby` instance will come from the `jruby-complete.jar` as

[2014-08-18 21:23] #11 closed, assigned to nobody

[2014-08-18 21:40] #10 closed, assigned to nobody

[2014-08-18 22:46] ysb33r opened #17 "Issue with using plugin in restricted environments"
It just triggered with me today that this code block in `JRubyPlugin` will cause an issue within restricted environments:

[code]

Specifying the repositories, might make it simpler for people to start using the plugin, but in environments where access to repositories are typically restricted to local Artifactory & Nexus instances this will fail. It is probably worthwhile to remove the code block

[2014-08-19 05:52] mojavelinux opened #18 "Make the install directory configurable"
Make the install directory configurable in the plugin configuration. Currently, the path is hard-coded to "vendor" (see https://github.com/rtyler/jruby-gradle-plugin/blob/master/src/main/groovy/com/lookout/jruby/JRubyPlugin.groovy#L141).

The use case for this change is that many users tend to prefer using either dot files or the build directory. "vendor" isn't all that self-explanatory either.

T

[2014-08-19 05:57] mojavelinux opened #19 "Support exclusions for gems"
Like with jars, it's sometimes necessary to exclude a transitive gem from being installed. This plugin should at least one of the following options:
1. Disable transitivity (i.e., `transitive: false`, which activates the flag `--ignore-dependencies`)
2. Allow individual gems to be excluded by name (group is implied)

[2014-08-19 16:59] #12 closed, assigned to nobody

[2014-08-19 17:13] rtyler opened #20 "Tests fail if there are any connectivity problems"
Looks like the new tests that came along with #16. I'm hoping @ysb33r can take a whack at this.

[code]

[2014-08-19 21:13] #18 closed, assigned to nobody

[2014-08-19 21:42] rtyler opened #21 "Should JRubyExec use the same JVM?"
Somewhat related to a comment I made in #15, but I'm wondering if we should skip invoking a secondary JVM for `JRubyExec` and just use the `JRubyScriptingContainer` to execute a Ruby script in the JVM executing the Gradle task itself.

//cc @ysb33r @mojavelinux

![infinite jvm power](http://themavesite.com/TMS-Pictures/2010-07/InfinitePower.jpg)

[2014-08-20 15:57] ysb33r opened #23 "Add project.jrubyexec as a project extension"
This will allow for jruby scripts to be executed within another task, without creating a dependency on additional tasks. This is similar to `project.exec` and `project.javaexec`. This will also slight differ in behaviour to `JRubyExec`` as task:
- The version of `jruby-complete` will be strictly tied to to `jruby.defaultVersion`. Therefore trying to set `jrubyVersion` in the `jrubyexec` closure wi

[2014-08-20 16:24] ysb33r opened #24 "Create JRubyWar task"
I think it would be worthwhile to create a `JRubyWar` task type. The default behaviour could be that as current described in the `jrubyWar` task. `JRubyPlugin` will still create the `jrubyWar` task, but it will be of type `JRubyWar` instead of `War`.

This will help in the easier customisation of jruby-based WARs.

Implementation-wise the `JRubyWar` class will simply derive from `War`

[2014-08-20 18:05] rtyler opened #25 "Add APIs for tasks to easily create/use a JRuby ScriptingContainer"
Relates to #20, #15 and future enhancements

We basically need some simple tooling to allow for building on top of an embedded JRuby scripting environment.

[2014-08-20 18:09] rtyler opened #26 "Prototype toll-free Rake integration"
(Will require #25)

Just brain dumping some ideas right now:

If `build.gradle` had a method such as `enableRake()` that could load a `Rakefile` from the `$CWD` and provide wrapper tasks for all the Rake tasks defined.

For example: `rake build` could turn into the gradle task `rakeBuild`. `rake assets:clean` could turn into `rakeAssetsClean`

Another option would be to just create a task that wou

[2014-08-20 18:25] #20 closed, assigned to nobody

[2014-08-20 20:17] #21 closed, assigned to nobody

[2014-08-20 21:45] #23 closed, assigned to nobody

[2014-08-20 22:34] ysb33r opened #28 "gemInstallDIr should be underneath buildDir"
Convention is to write all artefacts and most temporaries to below `project.buildDir`. I believe we should do the same for `gemInstallDir`. I don;t think this will affect the wat `jrubyWar` works.

The fix is easy - just change the `JRubyPluginExtension` constructor to have an extra statement:

[code]

[2014-08-21 01:10] rtyler opened #29 "Gradle should create a gradle.rb which can be executed to provide a extra-Gradle runtime"
This should probably be configurable but having a `.rb` file created dynamically that can set up the load paths and what-not for properly referencing gradle provided gems, etc.

Having such a file should allow for the execution of gem binstubs and other types of scripts without needing to invoke them through Gradle. This can be useful for running [pry](http://pryrb.com) or a Ruby-based debugger, o

[2014-08-21 04:10] #28 closed, assigned to rtyler

[2014-08-21 17:40] #13 closed, assigned to nobody

[2014-08-21 17:40] #17 closed, assigned to nobody

[2014-08-21 21:58] ysb33r opened #32 "Making GEM extraction more intelligent"
Current GEM extraction works on either by overwriting the extracted directory everytime or to skip extraction of the top-level directory of the gem already exists. Although these are good for an initial roll-out, it will eventually either cause UX problems, or in big projects will slow building time.

A possible approach would be to create a read-only `gemTree`. A gem contains a `data.tar.gz` file

[2014-08-22 16:26] rtyler opened #33 "gem install should be passed --ignore-dependencies to avoid hitting Rubygems.org"
I missed this a while ago, whoops! Notice the difference here:

Without `--ignore-dependencies`

[code]

With `--ignore-dependencies`

[code]

Fixing this behavior will also speed things up quite a bit!

[2014-08-22 16:40] ysb33r opened #34 "Create JRubyPrepareGems Task"
Create a `JRubyPrepareGems` tasks modelled on `jrubyPrepareGems` which are currently in `jRubyPlugin`.

Refactor `jrubyPrepareGems` to be based upon `JRubyPrepareGems`, but with appropriate configuration. Behaviour should not change due to refactoring.

[2014-08-22 21:45] ysb33r opened #36 "project.jrubyexec fails with exception in integration tests"

[2014-08-22 22:35] #36 closed, assigned to nobody

[2014-08-22 22:35] #34 closed, assigned to nobody

[2014-08-22 22:36] #33 closed, assigned to nobody

[2014-08-22 22:36] #19 closed, assigned to nobody

[2014-08-22 23:48] #24 closed, assigned to rtyler

[2014-08-23 00:34] #15 closed, assigned to nobody

[2014-08-24 20:51] ysb33r opened #37 "Potential performance improvement in JRubyPrepareGems"
Currently gems are installed one by one in an `each{}` closure. As this invokes a `javaexec` per GEM, this can sow down quite a bit should a large list of GEMs be provided. I suspect we should be able to pass a list of GEMs and perform the install in a single call-out.

[2014-08-25 11:00] ysb33r opened #38 "Combining plugin with maven plugin adds war to install if you don't want it."
Test case - create a simple build script such as

[code]

Now do `gradle build jrubyJar install --info`.  Notice the `war` that gets pushed to the local maven repo. My intent was to only create a runnable jar not a war.

What to do?
- Maybe create multiple apply statements i.e. `apply plugin: 'com.lookout.jruby.war` for when you want `war` functionality.?
- Maybe have a separate `artifacts` sectio

[2014-08-25 11:14] ysb33r opened #39 "Should jrubyWar task be linked to build task?"
Testcase:
[1] Create a simple build script such as this one:

[code]

[2] Now do `gradle build --info`
[3] Inspect `build/libs/TMP-0.0.0.0.1-SNAPSHOT.war`. It's a broken `war`
[4] Now do `gradle jrubyWar --info`
[5] Inspect `build/libs/TMP-0.0.0.0.1-SNAPSHOT.war` again. Now the `war` looks pretty decent

Should we somehow link in `jrubyWar` to `build` (keeping ISSUE #38 in mind) ?

[2014-08-25 11:28] ysb33r opened #40 "Default jar created by jrubyJar only contains a manifest file"
Test case:

[1] Create simple build scirpt such as

[code]

[2] Run `gradle jrubyJar`
[3] Inspect the jar in `build/lib`. It only contains a MANIFEST
[4] Run `gradle build jrubyJar`. Now the jar is correctly populated.

The default `jar` task that comes with the `java` plugin, has a dependency on the `classes` task. Maybe `jrubyJar` should too.

[2014-08-25 11:38] ysb33r opened #41 "jrubyJar task misses the default JarMain.class"
`jrubyJar` is is supposed to be made executable by adding in `com.lookout.jruby.JarMain` as its default main class in order to become runnable. The class is missing from the created jar.

[2014-08-25 14:35] ysb33r opened #42 "jrubywar vs JRubyWar - Some improvements"
With the refactoring of `jrubyWar` to `JRubyWar` I believe the the newly created task type is not flexible enough. I suggest the following:
- Only set the main class within the `copy` method. This allows for aximum flexibility in custom `JRubyExec` task instances
- Set the `description` and `group` in the `jrubyWar` task instead. Creators of custom `JRubyWar` tasks might want to place it in a diff

[2014-08-26 02:46] rtyler opened #44 "Rename package to com.github.jruby-gradle"
I mentioned this in chat to @ysb33r. Since we have a github organization now, I want to bring the entirety of the plugins under the `com.github.jruby-gradle` namespace

[2014-08-26 04:09] #26 closed, assigned to nobody

[2014-08-26 04:13] #4 closed, assigned to nobody

[2014-08-26 04:18] #2 closed, assigned to rtyler

[2014-08-26 04:19] #40 closed, assigned to nobody

[2014-08-26 04:20] #41 closed, assigned to nobody

[2014-08-26 14:07] #37 closed, assigned to nobody

[2014-08-26 17:20] #44 closed, assigned to rtyler

[2014-08-26 17:21] rtyler opened #47 "Remove Jar and War components"
The jar and war code should go into their own plugins

[2014-08-27 20:54] rtyler opened #49 "Upgrade jruby.defaultVersion to 1.7.14"

[2014-08-27 21:08] rtyler opened #50 "Update readme to reflect changes in plugin/org structure"

[2014-08-28 21:20] #47 closed, assigned to rtyler

[2014-08-28 21:20] #50 closed, assigned to nobody

[2014-08-30 13:04] ysb33r opened #53 "JRubyExec should not overwrite gems on every run"
First implementation was donig this, but retrospectively that it is not good solution. My suggestion is to only do this when `--refresh-dependencies` is specified on the command-line.

Obviously running the `clean` task will achieve this too, but that is a severe solution in many cases for the user. I don't believe adding specific gradle rules is worthwhile in the case

[2014-08-30 14:33] #38 closed, assigned to nobody

[2014-08-30 14:34] #39 closed, assigned to nobody

[2014-09-02 22:05] #53 closed, assigned to nobody

[2014-09-03 23:09] #49 closed, assigned to nobody

[2014-09-25 21:06] #32 closed, assigned to nobody

[2014-09-25 21:06] ysb33r opened #57 "Make JRuby 1.7.16 the default"

[2014-09-25 21:11] ysb33r opened #58 "Make build independent of project directory name"

[2014-09-25 21:52] #57 closed, assigned to nobody

[2014-09-25 21:53] #42 closed, assigned to nobody

[2014-10-01 18:08] rtyler opened #60 "plugin should support jruby-based compilation of Ruby -> bytecode"
It'd be great to provide a task or method to compile `.rb`. to `.class` files

[2014-10-04 07:19] rtyler opened #61 ""Native" gems are not properly supported"
Gems like [thread_safe](https://github.com/ruby-concurrency/thread_safe) which have a `-java` version need special support both in the downloading of the dependency but also in `jrubyExec`

[2014-10-04 17:52] rtyler opened #62 "`script` for JRubyExec should not be strictly required"
In the case of executing `rspec` we want to just be able to invoke it without a specific file parameter, e.g.

[code]

If `script` is passed then that means RSpec is going to only look at that one file, instead of considering the entire `spec/` directory.

IMHO an empty `script` option, provided `jrubyArgs` is present, should be valud

[2014-10-04 18:16] #61 closed, assigned to nobody

[2014-10-06 14:42] #62 closed, assigned to nobody

[2014-10-12 01:06] #58 closed, assigned to nobody

[2014-10-15 23:49] rtyler opened #65 "Gem installation can prompt for stdin causing an infinite loop"
In my particular case having two gems which install the same binstub:

[code]

[2014-10-18 21:46] rtyler opened #66 "jrubyJavaBootstrap script should add the jar/war package itself to the $LOAD_PATH"
When printing out `$LOAD_PATH` from the script running inside a built `.jar` file with `jrubyJavaBootstrap`, it apparently isn't including the full path to the jar file itself (see below).

This means we cannot properly load gems that have been packaged into the archive.

[code]

[2014-10-19 00:46] #66 closed, assigned to rtyler

[2014-10-19 01:49] rtyler opened #67 "jrubyJavaBootstrap should set GEM_HOME and GEM_PATH"

[2014-10-20 22:08] rtyler opened #68 "JRubyExec should unset/overwrite GEM_HOME/GEM_PATH"
Without these being overwritten, it's possible for a user's [RVM](http://rvm.io) settings to influence the runtime of `JRubyExec`

[2014-10-28 12:43] chriskilding opened #69 "Plugin is unusable without a weird quirk in build script/apply plugin syntax"
I tried to apply the base + WAR plugins to my Gradle 2.1+ Rails project a few different ways, mostly without success. The only way I convinced it to work was as follows, but it doesn't seem right - it looks like I am making up for an undeclared dependency in one of your plugins, but obviously I can only do that by using the old Gradle syntax where you can put a plugin on the classpath but never ap

[2014-10-29 23:53] robfletcher opened #70 "Unable to run executable from gem dependency"
When using the `-S` flag with JRuby I should be able to run an executable script from a gem dependency but this doesn't seem to work.

I've created an example build here: https://gist.github.com/robfletcher/5b6a9a6ea950b4c695a6

It's important that you _don't_ have the compass gem installed on your machine – if you do the JRubyExec task will use the compass script from your $PATH.

To get round th

[2014-10-30 02:16] rtyler opened #71 "Can we pin dependency groups to repos?"
Instead of letting gradle hit maven central and jcenter for "rubygems" which they clearly won't have, I wonder (aloud) if we can tell Gradle to only look for dependencies of the `rubygems` group from a select set of repositories?

[2014-10-30 21:00] #68 closed, assigned to nobody

[2014-10-31 00:33] #70 closed, assigned to rtyler

[2014-11-02 17:34] #71 closed, assigned to nobody

[2014-11-06 23:12] robfletcher opened #73 "Allow specification of gem install dir in jrubyexec task"
I may be confused but it seems like `jruby.gemInstallDir` is not used by the JRubyExec task. It _always_ uses its own gem dir. See: https://github.com/jruby-gradle/jruby-gradle-plugin/blob/b4d8779a40a2ad679eabf7981e6d723cb71913f3/src/main/groovy/com/github/jrubygradle/JRubyExec.groovy#L151-L153

If I have multiple sub-projects each using a jrubyexec task that uses the same gems it would be nice to

[2014-11-10 06:01] ammar-khan opened #75 "SASS not converting into CSS"
Hi

I m new to gradle and ruby world I am using following code in my gradle build but my sass files are not converting into css and there is no error in eclipse console it says built successful :(
Can any one help me what I m missing and what are the steps I have to follow?

[code]

[2014-11-10 20:51] #75 closed, assigned to nobody

[2014-11-12 06:23] rtyler opened #77 "0.1.6 regresses existing JRubyExec tasks"
For [blick](/rtyler/blick) I use `JRubyExec` to invoke RSpec, which fails after upgrading from 0.1.5 to 0.1.6:

**On jruby-gradle 0.1.6**

[code]

**On jruby-gradle 0.1.5**

[code]

[2014-11-12 17:14] rtyler opened #79 "Gem installation should override jbundler/jar-dependencies defaults"
The [jruby-maven-plugin](https://github.com/torquebox/jruby-maven-plugins/commit/88e5d7efaa8d6576e21623b1b461d2e1bb00e151) does this already.

The `JBUNDLE_SKIP and`JARS_SKIP` environment variables will ensure that those two tools won't attempt to install anything on the gem's behalf. This will allow jruby-gradle to take over properly and not have the two tools at odds with one another

[2014-11-12 18:08] #79 closed, assigned to rtyler

[2014-11-12 19:24] #77 closed, assigned to ysb33r

[2014-11-18 03:01] #73 closed, assigned to rtyler

[2014-11-18 04:48] #67 closed, assigned to rtyler

[2014-11-23 09:36] lask79 opened #83 "Problems running on Windows"
Hi,

I am facing some problems when trying to get this example to run on my Windows machine:
http://mrhaki.blogspot.de/2014/11/awesome-asciidoctor-use-asciidoctor.html

I am getting the following error:

[code]

It seems JRuby can not install the gems because the folder "build/vendors" is still empty. But when I try to install them in the command client with the same input it works:

[code]

I als

[2014-11-24 23:17] #69 closed, assigned to nobody

[2014-12-03 10:48] mojavelinux opened #84 "Set sourceCompatibility to 1.6"
I just checked and this plugin seems to work with the sourceCompatibility set to 1.6 (all tests pass). You and I both want to migration to JDK8, but the fact is there are many builds on the world that still need to be run on JDK6 and setting the sourceCompatibility to 1.7 means we can test those builds when this plugin is _anywhere_ in the Gradle build. That's a problem. I think we need to support

[2014-12-03 17:05] #84 closed, assigned to nobody

[2014-12-03 17:55] ysb33r opened #88 "Add plugin-dev support to build.gradle"

[2014-12-09 19:23] rtyler opened #89 "Upgrade default JRuby version to 1.7.17"
Since JRuby 1.7.17 has been released with some jruby-complete fixes, let's bump from 1.7.15 to it!

[2014-12-09 23:31] #89 closed, assigned to rtyler

[2014-12-11 02:53] rtyler opened #90 "JRubyExec should overwrite/clean the environment of RVM settings"
If you're using RVM, `GEM_HOME` and `GEM_PATH` can leak into `JRubyExec` tasks causing execution inconsistencies and hard to pin down bugs.

Ideally we should just scrub the `System.environment` of these values before spinning up the new JVM

[2014-12-14 02:37] rtyler opened #91 "JRubyExec task not executing because it's always "up to date""
[code]

If I don't add new gems or anything it seems to be permanently "UP-TO-DATE"

[2014-12-14 04:44] #90 closed, assigned to rtyler

[2014-12-14 04:44] #91 closed, assigned to rtyler

[2014-12-20 23:05] ysb33r opened #93 "Consolidate handling of environment when running JRubyExec, project.jrubyexec & GemUtils"
We have slightly different ways to do this in each of the code sections. It would be better to consolidate it,
as it keeps on coming back to bite us.

[2014-12-20 23:09] #83 closed, assigned to nobody

[2014-12-21 23:58] #93 closed, assigned to ysb33r

[2014-12-23 09:57] mojavelinux opened #96 "Define JRuby dependency using custom dependency scope named jrubySdk"
To follow common conventions in the Gradle ecosystem, I think the version of the JRuby dependency should be defined using a custom dependency scoped named `jrubySdk` instead of in the `jruby` configuration stanza.

You can see this convention in practice in the Google App engine plugin:

[code]

See https://github.com/GoogleCloudPlatform/gradle-appengine-plugin/blob/master/README.md

This allows t

[2014-12-29 05:32] mojavelinux opened #97 "Allow gemInstallDir to be customized"
I'd like to be able to customize the location of the installed gems. My motivation is that I find `build/vendor` to be very cryptic.

I'm teased by the `gemInstallDir` property on the `jruby` extension object, but it appears that the value is clobbered in the constructor.

Ideally, the plugin should accept something like:

[code]

The extension object should handle resolving this setting to an abs

[2014-12-29 18:58] #97 closed, assigned to nobody

[2015-02-05 21:45] rtyler opened #100 "Bump default JRuby version to 1.7.19"

[2015-03-17 21:12] #100 closed

[2015-03-18 01:34] phrinx opened #101 "ZipException with 0.1.12 executing jrubyStorm task"
Using the latest com.github.jruby-gradle.jar-0.1.12 and jruby-gradle.storm-0.16 plugin I get a ZipException. If I downgrade to 0.1.11 the build goes thru without issues.

[code]

[2015-03-25 17:49] blaines opened #102 "Ability to Install Gem Dependencies From a Path"
It would be great if it would be possible to configure individual gems to be installed from a local directory like with bundler's `:path` option. This would be very useful for local development or even intra-project dependencies.

Here's the idea in code:
[code]

I believe @rtyler has something going in that direction already.

[2015-03-25 18:19] ysb33r commented on #102
have you tried just doing
[code]

[2015-03-25 18:21] rtyler commented on #102
@ysb33r I believe the problem with that approach to be that the structure of a gem in source code is much different than the sturcture of a gem that has been "installed" or "unpacked" for Ruby code to pick up and require properly.

The work in progress that I have locally implements a `SelfResolvingDependency` to provide the following DSL:

[code]
Where I'm leaning right now is that `resolve()` on

[2015-03-25 18:28] ysb33r commented on #102
My suggestion assumed that you already had a packed gem in a folder.

However, I do get your point and I like the the use of a `gemspec` keyword. It will it readable and the intent expressed correctly.

[2015-03-29 18:47] Dispader opened #103 "Is it possible to "execute a gem"?"
Hey there,

  I'm really sorry to trouble— this is probably a very rudimentary question.

  I have a project that has a `Gemfile` (with the `guard-gradle` gem defined), and I'm currently using `bundle`, `bundle exec guard` to "execute the gem."  I can't say that I know how bundler performs the execution, though.

  I've added the plugin and successfully resolved the dependencies, but I can't seem

[2015-03-29 20:17] ysb33r commented on #103
Try passing
[code]
in the configuration closure. The way `JRubyExec` operates is to use the `bin` directory to look for scripts if `script` is not absolute and if `scriptArgs` contains `-S`.

[2015-03-29 20:46] ysb33r commented on #103
OK, I've played a bit with `guard-gradle` and asis the above won't work. One reason is that that `guard-gradle` does nto have a `bin` folder and secondly for `guard-gradle` to work you need to do additional setup work i.e. run the `installer.sh` script.

The problem is that the default script will try to `gem install` to your standard GEM installation folder, something which we try to avoid within

[2015-03-29 22:09] Dispader commented on #103
Thank you, sir!  That was helpful.

You're very right, in that `guard-gradle` doesn't seem to have any kind of `./bin`— it looks like it's a plugin (of some kind) to guard itself.

After some messing around, I managed to get it to invoke via:

[code]

But that's surely not the ideal way to invoke the script.  (If I added any `scriptArgs` to the above, guard complained about getting passed the argu

[2015-03-30 21:54] Dispader commented on #103
And I believe I know what was going wrong: my build.gradle specified a gem dependency for guard which was different from that defined by guard-gradle.

If it helps anyone else out— here's [a successful configuration](https://github.com/Dispader/example-jruby-gradle-plugin/tree/a118a6b0c8086d28a73c5f6e43e658d3b75e5642) for executing Guard, using the `guard-gradle` plugin, to watch a project from a

[2015-03-30 21:54] #103 closed

[2015-04-01 14:07] rtyler opened #104 "Need project.jrubyexec {}"
For #102 I'm finding that I need to run `JRubyExec` multiple times in a single task, and right now I have no means to do that.

I think an analog to `project.javaexec {}` would be a useful addition

[2015-04-01 14:48] ysb33r commented on #104
It already exists. Check the README - https://github.com/jruby-gradle/jruby-gradle-plugin/blob/master/README.md#jrubyexec-extension

[2015-04-01 17:06] rtyler commented on #104
DERP! I was looking aronud in the code epecting to find something and I couldn't. Guess I'll read our documentation in the future :P

[2015-04-01 17:06] #104 closed

[2015-04-09 14:58] rtyler commented on #101
The project in which I've reproduced this has the following versions of plugins:

 * Gradle 2.2.1 (or Gradle 2.3)
 * jruby-gradle jar plugni 0.1.3
 * jruby-gradle-base-plugin 0.1.13
 * shadow plugin 1.1.2 (or shadow plugin 1.2.1)

I have verified that the same set of plugins will reproduce the issue, but downgrading base to 0.1.11 will allow for a jar to be created properly.

Time for some `git-bi

[2015-04-09 15:11] ysb33r commented on #101
A quick suggestion. Check whether this still happens directly after a `clean`.

[2015-04-09 15:38] rtyler commented on #101
FWIW `clean` doesn't help :(

[2015-04-09 17:59] rtyler commented on #101
Alright, so I think I know what's happening here finally. At execution time in the `shadowJar` configuration the method `defaultGems()` is being used, which sets the `gemDir` to `jruby.gemInstallDir`.

In base v0.1.11 `jruby.gemInstallDir` is `build/vendor` whereas in later versions it's defaulting to `build/` which means the shadowjar code is likely trying to include _itself_ in the archive it is

[2015-04-09 19:09] #101 closed

[2015-04-14 02:44] rtyler commented on #29
I changed the description a bit based on the more current needs that I've identified. The problem has always been that there's not a good way to execute JRuby code outside of Gradle, I just explained the problem very poorly before.

I think the kind of script we need is a simple `/bin/sh` script which:

 * exports the `GEM_HOME` variable appropriately
 * exec a `java -jar` command with the appropr

[2015-04-14 18:31] #29 closed

[2015-04-15 15:53] mkristian opened #107 "there are more java related platforms"
just a small list of strange java platforms (and there are more):
https://rubygems.org/gems/te3270-jruby/versions/0.1-universal-java-1.7
https://rubygems.org/gems/krypt-core/versions/0.0.2-universal-java
https://rubygems.org/gems/therubyrhino/versions/1.72.1-jruby

the reason for this issue is:
https://github.com/jruby-gradle/jruby-gradle-plugin/blob/master/src/main/groovy/com/github/jrubygradle/G

[2015-04-15 17:38] ysb33r commented on #107
What do you need?

* Delete all files in `${destDir}/gems` that starts with `gemName` ?
* Recursivley delete all directories in `${destDir}/gems` that starts with `gemName` ?

[2015-04-15 18:03] mkristian commented on #107
currently the implementation deletes directories two
${destDir}/gems/#{gemName} and ${destDir}/gems/#{gemName}-java

I meant to delete all directories starting with  ${destDir}/gems/#{gemName}

any ways there should be only one but we do not know the exact name unless
you eval the gemspec file.

On Wed, Apr 15, 2015 at 11:08 PM, Schalk W. Cronjé <notifications@github.com

[2015-04-15 19:01] ysb33r commented on #107
Something like this should work for you
[code]

However if you have gems `foo` & `foo-bar` with variants `foo-java` and `foo-bar-java`, the `foo-bar` GEMs will also be deleted, if your `gemName` is `foo`.

[2015-04-16 05:04] mkristian commented on #107
you are right that might delete more then we want to.

the gem directory names is
```{gemName}-{gemVersion}-{platform}```
or if platform == 'ruby' or default
```{gemName}-{gemVersion}```

the Gem::Version has to start with digit so the regexp can be stricter

[code]

[2015-04-16 15:00] ysb33r opened #109 "Combine .jrubydir generation with gem install"
This is a follow-on from the conversation that started on the PR review - https://github.com/jruby-gradle/jruby-gradle-plugin/pull/108/files#r28513292.

The idea is to combine both tasks in to a single Ruby script which can then be run (with appropriate parameters passed from Gradle) as the new Gem Install.

I reckon that if someone can write the Rubt script, I can craft up somthing which will sto

[2015-04-16 15:05] mkristian commented on #109
yes you can build "longish" scripts with ```jruby -e``` no problem :)

[2015-05-01 00:37] rtyler opened #112 "GenerateGradleRb should define gradle.rb in the root project dir"
If you apply the plugin in a multiple subprojects, the first (or last I can't tell) one to define the `jrubyGenerateGradleRb` will have the `gradle.rb` file defined there.

Instead I think we should go to `"${rootProject.projectDir}/gradle.rb`

[2015-05-01 07:27] ysb33r commented on #112
Yes and no. Each project it gets applied to should get one. It that does not happen it's a bug.

Secondly, the user should have control over where it get's applied. That would especially be true in a multi-project polyglot build.

If you want it in the root only then place the apply in the rootProject closure of the top build.gradle file.

<div>-------- Original message --------</div><div>From: "R

[2015-05-05 16:08] hleeldc opened #113 "jrubyexec task yaml load error with 9.0.0.0.pre2"
I have a directory with 2 files:

  - build.gradle
  - test.rb

Here's the content of build.gradle:

[code]

test.rb contains just one line:

[code]

Executing "gradle run" returns the following error:

[code]

It works if I remove the jruby.execVersion line, but then it falls back to jruby-complete 1.7.19.

Any idea?

[2015-05-05 17:20] rtyler commented on #113
This definitely looks like it might be an issue with the jruby-complete archive for 9000pre2.  If you set the Java flag `debug.fullTrace=false` that *might* show you more information (unless @headius  meant a different flag)

[2015-05-05 18:47] hleeldc commented on #113
I'm not sure if the problem is in the jruby-complete archive because the following works fine.

java -cp ~/.gradle/caches/modules-2/files-2.1/org.jruby/jruby-complete/9.0.0.0.pre2/5c21f8a488eda22f4dad9e92431a6754fb0acd77/jruby-complete-9.0.0.0.pre2.jar org.jruby.Main test.rb

BTW, `gradle run -Ddebug.fullTrace=false` didn't output more information.

[2015-05-05 20:12] enebo commented on #113
@hleeldc @rtyler You can -Djruby.debug.fullTrace=true.  I tend to use -Djruby.backtrace.style=raw for internal Java backtrace errors, but I think the former nests both Ruby and Java trace elements together.

[2015-05-05 22:20] shiv123 opened #115 "Setting jruby.defaultVersion must happen before loading of jar plugin"
With versions 0.1.16 of the base plugin and 0.1.3 of the jar plugin, I cannot overwrite the `defaultVersion` properly to `1.7.20` unless I do it before the loading of the jar plugin.

For example this:

[code]

Will result in the `compile` and other configurations having `1.7.19` while others like `.jrubyJar` get `1.7.20`

If I change the ordering to:

[code]

Then everything does use the newer de

[2015-05-05 23:11] ysb33r commented on #115
Nice catch! Let's see what we can do.

[2015-05-06 13:36] ysb33r opened #116 "gradle.rb generation is broken under Windows"
JRubyGenerateGradleRbIntegrationSpec fails under Windows (Appveyor):

[code]

[2015-05-06 14:52] rtyler commented on #113
@enebo @headius I've taken @hleeldc's example and found that I only get errors with pre2, but I'm not able to get the stacktraces from it.

Here's an example run with pre1:

[code]

Here's with pre2:

[code]

I've placed the repro case in [this gist](https://gist.github.com/rtyler/6849b0fda94995431234) which can be executed with Gradle 2.1+

[2015-05-07 02:54] rtyler opened #118 "Setting JRubyExec's configuration should follow Schalk's Gradle conventions"
I noticed this evening while working that the `configuration` property in the `JRubyExec` class lacks property style setters and getters, and instead acts simply as a class attribute.

[code]

:-1:

[code]

:+1:

[2015-05-07 12:20] ysb33r commented on #118
I'll have a PR for you by EOD :8ball:

[2015-05-11 21:43] tommysullivan opened #121 "GenerateGradleRb task(s) don't resolve a custom configuration's dependencies"
[code]

Neither of the tasks above end up installing the gems inside of the `rspec` configuration directory, but instead seem to pull in whatever gems are in the `jrubyExec` configuration.

The tasks do however express a task dependency on `jrubyPrepareGems` however.

[2015-05-21 19:22] mkristian commented on #109
we need to check if we can drop the .jrubydir generation at this point. when packing a jar it happens anyways and for the jar it is needed. might even solve the issue with double entries inside the jar https://github.com/jruby-gradle/jruby-gradle-jar-plugin/issues/50

[2015-05-21 19:34] mkristian opened #123 "jrubyExec should set JARS_HOME and use the jar as jruby does"
bascially just set ```JARS_HOME``` in the same manner as GEM_PATH and GEM_HOME and not include those jars in the classpath. this keeps the loading semantics as you would execute jruby from the commandline. also avoiding conflicts with bouncy-castle, jline and snkeyaml as they are embedded with jruby already and jruby knows how to load them.

this will make the bouncy-castle version obsolete in the

[2015-06-02 17:47] rtyler opened #124 "New gem resolver inccorectly "fails" dependencies which aren't incomatible"
Discovered with an internal @Lookout project with the `v0.2.0` version of the plugin including @mkristian's latest gem resolution code.

[code]

Now, some of these range errors are correct, such as `[1.4.1,1.4.99999] and [1.3.0,1.3.99999]`

**HOWEVER** some ranges are not incompatible, such as:

* `> there is no overlap for [1.4,1.99999] and [0,)`
* `> there is no overlap for [0.3,) and [0.4.2,)`

[2015-06-02 19:49] rtyler commented on #124
I believe #125 will fix these issues

[2015-06-02 20:12] #124 closed

[2015-06-08 15:53] rtyler opened #129 "Cannot resolve satisfactory rspec-core versions "there is no overlap for [2.99.0,2.99.99999] and [3.2.0,3.2.99999]""
This dependencies setup will cause it:

[code]

[2015-06-08 17:14] #129 closed

[2015-06-08 17:14] rtyler commented on #129
Avoiding rspec-core and instead adding the rspec depdendency directly solves this issue

[2015-06-08 18:02] rtyler opened #131 "I should be able to override jruby.defaultVersion or execVersion from the command line"
This would be great for testing newer version of JRuby with existing builds, e.g.

[code]

From what I've read this has to be manually accounted for in the plugin and doesn't come automatically

[2015-06-08 18:12] mkristian commented on #131
+1

[2015-06-08 18:39] ysb33r commented on #131
I don't think the plugin should provide that functionality. It is better that is provided in a bespoke manner in the build script, should the author prefer it as such.

[2015-06-08 18:41] ysb33r commented on #131
Having said that, it would be better to do it via a system property, rather than the project property. There is some semantic invovled here. In this way if is effectivley a property of the plugin rather than the specific project.

[2015-06-08 19:05] mkristian commented on #131
actually I was reading it as
```./gradlew check -Djruby.execVersion=9.0.0.0.pre2```

probably since I not aware what -P is meant for

[2015-06-08 21:23] rtyler commented on #131
@ysb33r I'm fine with a system property, I can kind of understand why you don't think the functionality that the code should go into the plugin.

I think there is immense benefit to JRuby users and the JRuby core team by enabling this functionality across the board by default for jruby-gradle users. That would make it absolutely trivial for jruby-gradle projects to contribute feedback to the proje

[2015-06-08 21:48] ysb33r commented on #131
I am with you on that. It will also allow to set up an additional travis axis to compile with the normal & 9K
versions.

I think you just need to do something like

[code]

[2015-06-08 21:51] rtyler commented on #131
:+1:

I'll submit a PR later today

[2015-06-17 12:20] blop opened #132 "Provide jruby in environment PATH ?"
Hello,

I would like to use your plugin to automatically provide a working local jruby installation.

However, further in my tasks, I need to call an external script which is using this :
#!/usr/bin/env jruby

Is there a way to get a jruby entrypoint that I can put in my PATH so that my script would use that local jruby ?

Ideally I would depend on some jrubyInstall task and be able to get the pat

[2015-06-17 13:28] ysb33r commented on #132
Even though it might be possible, I don't really think this plugin is suited for that. It sounds more like something that should be handled by (http://gvmtool.net)[GVM] (Or `sdkmanager` as what it will be known as from now on).

@marcoVermeulen Any thoughts?

[2015-06-17 13:30] marcoVermeulen commented on #132
Yes, sounds like a good idea. I'm currently in the process of migrating to
SDKman, but once that is all done we can look at onboarding many other new
technologies.

On Wed, 17 Jun 2015 at 14:28 Schalk W. Cronjé <notifications@github.com>
wrote:

[2015-06-17 13:33] blop commented on #132
The idea is to be able to get jruby for build/test Gradle tasks in a CI environment where everything should be automated and the dependencies should be minimal (like only java, to run gradle, to setup everything).

[2015-06-17 13:56] marcoVermeulen commented on #132
Yes, and that is exactly what SDKman does for groovy related tech atm. You
could even include this installation step in your Dockerfile if you're
using Docker.

On Wed, 17 Jun 2015 at 14:33 Olivier Voortman <notifications@github.com>
wrote:

[2015-06-17 14:53] ysb33r commented on #132
@marcoVermeulen, it might be possible to onboard `jruby` earlier in the same way that was done for `asciidoctorj`

[2015-06-17 14:55] rtyler commented on #132
@blop If you're needing to invoke an `Exec` task which might exec back into Ruby land, I might have a solution for you.

That said, I would say that providing a general purpose JRuby in `PATH` is an [RVM](http://rvm.io) type job (for which there's definitely lots of prior use-cases with Jenkins)

With that caveat out of the way, take a use-case like Google's `protoc` compiler. The way one compiles

[2015-06-17 14:57] marcoVermeulen commented on #132
I would rather hold off until we are sdkman because if we do it we will
need to get all the historic releases in the DB.

Also, we would need to get the jruby team onboard so that they can start
publishing their own releases. Otherwise it will be on me to publish new
releases every time they come out.

On Wed, 17 Jun 2015 at 15:53 Schalk W. Cronjé <notifications@github.com>
wrote:

[2015-06-23 14:15] swistaczek opened #133 "Support for jBundler"
Hi,
I would like to ask if this awesome gradle extension could support jbundler created by @mkristian?

[2015-06-23 15:30] mkristian commented on #133
all those polyglot tools always try to bridge two worlds (or more). currently we are rounding up the gradle side of things. once this is done I am sure we look at how to use this extension in a more ruby like project, i.e. get the gem/jar dependencies from the Gemfile/Jarfile and/or gemspec file, etc.

parsing the Jarfile and add jar dependencies to the gradle configuration seems straight forward.

[2015-06-24 18:15] rtyler commented on #133
@swistaczek Can you expand on what you would imagine "supporting jbundler" would be? We've discussed supporting parsing Gemfiles before which makes sense to me since many Ruby developers are already quite familiar with their syntax and purpose for declaring strictly Ruby dependencies.

As a user of JBundler, I'm not sure what JRuby/Gradle would provide in terms of support?

[2015-07-01 23:55] rtyler opened #135 "Using `initScript 'foo.rb'` silently fails if 'foo.rb' is not present"
Using the jar plugin, I found myself with the following code:

[code]

In previous versions of the plugin, this type of statement would result in the `foo.jar/main.rb` script being executed. With 0.3.0 however, `main.rb` is supposed to be copied into the jar as `jar-bootstrap.rb`

It turns out that if `main.rb` is not present in the `projectDir` this will silently fail, resulting in an executable

[2015-07-01 23:56] rtyler opened #136 "Invoking `initScript` should imply `defaultMainClass()` by default"
I think using `initScript` should imply `defaultMainClass()`, there's no reason I should have to add both statements to my `jruby{}` configution block

[2015-07-02 03:03] rtyler opened #137 "Should multiple invocations of jar { jruby {} } update the configuration?"
In a [plugin I am working on](/lookout/service-artifact-gradle-plugin) I am trying to set some default behaviors, which can be tweaked if a user desires.

In practice, this means that on the plugin's `apply()` code similar to this executes:

[code]

Further on in the evaluation, I would *like* to invoke:

[code]

This is currently not possible as the `runnable()` behavior is what gets introduced i

[2015-07-02 04:19] mkristian commented on #137
@rtyler after my patch which is still there is no configurator anymore and
those mutable restrictions are gone (maybe not all)

On Thu, Jul 2, 2015 at 5:03 AM, R. Tyler Croy <notifications@github.com>
wrote:

[2015-07-02 15:14] #123 closed

[2015-07-02 16:57] rtyler opened #139 "gem version range info should be moved to debug logging instead of info"
[code]

This is pretty verbose for `--info` level debugging IMO

[2015-07-02 17:26] mkristian commented on #139
+1

[2015-07-03 07:54] mkristian commented on #136
will be fixed with #138 in https://github.com/jruby-gradle/jruby-gradle-plugin/pull/138/files#diff-4950837d5586920dfe4f70640c7798e6R141 which does have a test

[2015-07-04 07:22] mkristian commented on #136
is fixed with #138

[2015-07-04 07:22] #136 closed

[2015-07-04 18:10] #135 closed

[2015-07-04 18:10] #139 closed

[2015-07-06 16:58] mkristian opened #141 "consolidate the ```JRubyPrepareGems``` and ```JRubyPrepareJars``` into one task"
consolidate the ```JRubyPrepareGems``` and ```JRubyPrepareJars``` to be only one task ```JRubyPrepare``` setting up both gems and jars and the jars go into GEM_HOME/jars for consistency.

this is mostly rearranging things.

[2015-07-06 16:59] mkristian opened #142 "war plugin needs to treat the jar dependencies the ruby way"
now jrubyExec and jrubyJar will pack/use the jar dependencies the ruby via some ```require  'my.jar'```

the war plugin has no tests and not sure what is working.

probably the first step is #141

[2015-07-06 17:02] rtyler commented on #141
Why? There's no downside to having the two tasks as far as I can tell

[2015-07-06 17:09] mkristian commented on #141
once you at one method to install the jars in ```JRubyPrepareGems``` then you do not need ```JRubyPrepareJars``` anymore and do not need to think about the jar install diectory which you should configure in the same manner as the gem install dir - for the same reason you do change the first.

then ```JRubyPrepare``` is an empty task depending on ```JRubyPrepareGems``` only.

so instead of one extr

[2015-07-06 17:16] rtyler commented on #141
*shrug*

Okay :D

[2015-07-06 18:18] ysb33r commented on #141
There quite a number of Gradle projects out there that use `jrubyPrepareGems` purely for obtaining GEMs. Some of those projects don't even care about packaging up GEMs unto a JAR again.

Dropping this task will break a number of projects. It would be better to have a shell task that prints a warning and which then depends on a unified task.

[2015-07-06 19:43] mkristian commented on #141
I was planning to keep ```jrubyPrepareGems``` by an empty task depending on ```jrubyPrepare`` and warning. @ysb33r would that do ?

[2015-07-06 20:28] ysb33r commented on #141
To paraphrase, you want to create the equivalent:

[code]

[code]

The latter might introduce a binary incompatibility, but I don;t think that is going to cause that much problems. I suspect most usages of `JRubyPrepareGems` are in scripts, not plugins (except for ours), It still might a versoin bump to `0.4` though.

[2015-07-06 20:34] ysb33r commented on #142
Not sure what you meant. It think the first part should read __Now__ `JRubyExec` __and__ `JRubyJar` __ will/pack use the jar dependencies,__. The part following that I am unclear about.

[2015-07-06 20:36] ysb33r commented on #137
Has this been resolved, by @mkristian 's change?

[2015-07-06 20:36] mkristian commented on #141
@ysb33r I thought that the ```JRubyPrepareGems``` can also declare some ```dependsOn 'jrubyPrepare'``` - if not then the ```class JRubyPrepareGems extends JRubyPrepare``` will do

[2015-07-06 20:39] ysb33r commented on #60
Should we revisit this once JRuby 9.0.0.0 is out?

[2015-07-06 20:40] ysb33r commented on #109
I think this is resolved by all of @mkristian's work. Can I close it?

[2015-07-06 20:43] ysb33r commented on #141
Preferably not, as you then force a dependency a script author does not want. IOW task classes should not add a dependency on a specific task instance.

[2015-07-06 20:45] ysb33r commented on #113
Has anyone tried this yet with 9.0.0.0.rc-1 ?

[2015-07-06 21:55] mkristian commented on #113
actually this is not a problem with ```jrubyExec``` anymore after #123 got merged since all jars are loaded via ```require``` including snakeyaml.jar from psych.

removing this line keeps those ```require_jar``` working: https://github.com/jruby-gradle/jruby-gradle-plugin/commit/5d59833e998ceed24e0805e09d36897de770838f#diff-b881b1c59e2fb0993fddd8f8a361cc0cL115

[2015-07-06 21:55] #113 closed

[2015-07-06 22:03] mkristian commented on #142
both ```JRubyExec`` and ```JRubyJar``` will copy the jars in build/gems/jars and sets JARS_HOME to the directory and then ruby code loads those jars via ```require```

currently the war plugin copies the jars into WEB-INF/llib which produces the problems like #113

[2015-07-06 22:05] mkristian commented on #137
fixed via #138

[2015-07-06 22:05] #137 closed

[2015-07-06 22:07] ysb33r commented on #142
Right. Let's fix this next.

[2015-07-06 22:08] mkristian commented on #109
no this is not solved.

[2015-07-06 23:49] blaines opened #143 "Release new version of jruby-gradle-plugin"
It's been a month since the last release, there's new functionality in master that we'd like to use!

https://plugins.gradle.org/plugin/com.github.jruby-gradle.jar

[2015-07-07 13:29] rtyler commented on #143
0.3.1

[2015-07-07 13:29] #143 closed

[2015-07-07 17:03] raelik opened #144 "Setting jruby defaultVersion or execVersion to 9.0.0.0.rc1 causes an error"
The error generated is:

[code]

This is caused by the jrubyJarVersionTriple() function in JRubyExecUtils.groovy, specifically https://github.com/jruby-gradle/jruby-gradle-plugin/blob/e5b33b5909e8f256d547cc276f31ca22f3a989b6/jruby-gradle-base-plugin/src/main/groovy/com/github/jrubygradle/internal/JRubyExecUtils.groovy#L62-68

[code]

[2015-07-07 19:07] #144 closed

[2015-07-09 20:10] rtyler opened #148 "JRubyPluginTest should be moved to Spock"

[2015-07-09 20:10] rtyler commented on #141
I believe this can be resolved now

[2015-07-09 20:10] #141 closed

[2015-07-09 21:40] rtyler opened #149 "JRubyJar should support configurations"
Basically, I want to be able to use different configurations to pipe different sets of gems and jars into my fat JRubyJars :)

[code]

[2015-07-09 21:42] rtyler opened #150 "Default `jar` task should be replaced with a JRuby-based variant"
Per discussion with @ysb33r, a replacing the default `jar` task would be useful, since generating the empty jar that it does now is quite confusing:

[code]

This behavior should be very well documented though!

[2015-07-13 21:54] rtyler opened #151 "Base plugin should provide a GemInstall task"
We have a few internal jruby-gradle projects which rely on locally built or otherwise `.gem` file-based installation procedures.

Since the past few versions we have introduced additional functionality to create `.jrubydir` files after the gem installation process internal to jruby-gradle.

To allow us to handle a `.gem`-based use case, it would be beneficial to have a `GemInstall` task type, so i

[2015-07-13 22:11] tommysullivan commented on #151
alternatively, when expressing the dependencies of a gradle project, we can have a notation that says "use the gem artifact built by this other gradle project". This would work in tandem with the declarative gem artifact capability i've been bugging you about :)

[2015-07-13 22:14] tommysullivan commented on #151
so in other words it would go under dependencies closure, and there would be a string notation that causes resolution to happen in this new way which causes the gem to be built by gradle and the result moved into the appropriate place like the other gradle managed gem dependencies

[2015-07-13 22:19] tommysullivan commented on #151
make it analogous to how a java / groovy gradle project expresses a dependency on jar(s) built from other gradle subprojects (from a gradle declaration perspective, not from an implementation perspective)

[2015-07-14 07:33] mkristian commented on #151
there are two issues here. first when and how shall the .jrubydir creation takes place and second how to use gem from gradle subprojects.

the .jrubydir files are needed for ruby application packed in jars, i.e. it is needed for the jruby-gradle-jar-plugin and probably for the war-plugin as well. but is NOT needed for jrubyExec. creating .jrubydir right after gem install is the wrong place. curren

[2015-07-14 10:04] ysb33r commented on #151
@tommysullivan, I assume you mean something like

[code]

@rtyler,  are you inferring something analogous to `publishToMavenLocal`, which installs to `~/.m2`, except in this case it might install to '~/.gem' ?

@mkristian, yes, that is one reason for potentially getting my Rake plugin to work.

[2015-07-14 16:39] rtyler commented on #151
@ysb33r part of what @tommysullivan is referring to, and @mkristian,  is an idea we've been kicking internally at @Lookoutto describe a `Gem::Specification` inside of a Gradle file using a Gradle DSL. That would obviously make the syntax you reference possible, but first I think we would need to get the building of a valid gem working properly.

This is not the use-case that we have internally rig

[2015-07-14 17:08] tommysullivan commented on #151
Yes, step one would be to "get the building of a valid gem working properly". Where does one describe the gem and its dependencies? In a gemspec file? In build.gradle? If the latter, do we generate a gemspec and then build with that? Can we do an analogue to bundle + gemfile, where we use the gemfile as the canonical definition of the gem metadata, including its dependencies, but then we can use b

[2015-07-18 01:13] rtyler opened #152 "jrubyArgs '-S' should be implicit in the JRubyExec task"
I've not yet seen a JRubyExec task where the expectation of "-S" isn't set, this makes sense to me to bring into the default mode of operation for `JRubyExec`

I think jrubyArgs should still exist, but we should have `setJRubyArgs` which replaces the default ("-S") and `jrubyArgs` which adds to it

[2015-07-18 07:52] mkristian commented on #152
setting explicit -S is not needed in case there is script configured.

the problem is when you want to execute a script which is not on search path but on the current working directory ?

```setJRubyArgs``` sounds too complicated.

with jruby-maven-plugins the approach is to configure a "file" or a "command" (the one with -S) or  a script (inline script via -e) or just the args. and it uses the la

[2015-07-19 22:46] ysb33r commented on #152
I don't agree. I think it just so happends that all of your use cases so far were just things that used scripts that were bundled with the supplied jruby-complete.

[2015-07-20 18:51] mkristian commented on #152
so my suggestion (I was not clear enough) is

* there is script configured then add the ```-S``` (unless it is already there) which will work for all scripts whether they are local files or bundled with jruby-complete or somewhere on the PATH of the system
* there is no script configured but ```-e``` then leave it as is and do not add anything

this is a minimal change which is backward compatible

[2015-07-22 17:40] rtyler opened #154 "JRubyExec should employ bundler-esque version pinning behaviors"
As a user, when I'm evaluating newer or older versions of a Gem, the runtime environment of `JRubyExec` may lead to inadvertently loading incorrect versions of a gem *unless* I explicitly `./gradlew clean` between invocations of the `JRubyExec` task.

A concrete example, if I'm seeing issues with v2 of a gem, so I downgrade in my `build.gradle` to v1, the v2 is still in `build/gems` and will still

[2015-07-28 14:08] rtyler opened #155 "JRubyExec should be refactored to support more versatile JRuby invocations"
Both my work in the storm plugin and @mkristian's [work](https://github.com/jruby-gradle/jruby-gradle-test-plugin/blob/master/jruby-gradle-rspec-plugin/src/main/groovy/com/github/jrubygradle/rspec/JRubyUtils.groovy) in the test plugin necessitate slightly different invocations of JRuby.

JRubyExec handles lots of dependency management/setup functions that we all need, but JRubyExec is also messy a

[2015-07-28 16:15] rtyler opened #156 "JRuby 9k should be the default version"

[2015-07-29 12:25] rtyler opened #157 "JRubyExec.jrubyVersion doesn't properly add jar-dependencies to the custom configuration"
[code]

Here's the output of `./gradlew dependencies`

[code]

The "repro" configuration should have jar-dependencies

[2015-07-29 12:58] rtyler commented on #155
I've gone a bit in circles here, but I think the right behavior is to use `JRubyExecTraits` for these common behaviors that we need between JRubyExec-type tasks.

Using `JRubyExecAbstractTask` won't work because there are stored data problems when using traits and inheritance at the same time (their private data is separate).

Additionally, I think we should remove these `jrubyExec$$TaskName` conf

[2015-07-29 12:59] #156 closed

[2015-07-29 13:56] rtyler opened #159 "Implement a Groovy-native Gem installer"
@mkristian and I were discussing this earlier. Gems are just tarballs with files in special places, it would be interesting to move our current `GemUtils`-based installation code to just unpack the gem and place it in the right directory structure without calling out to JRuby to accomplish that.

[2015-07-29 13:57] rtyler opened #160 "Evaluate whether jrubydir generation for gem install can move into jar plugin"
@mkristian and I were discussing this too, we might want to move jrubydir generation into the jar plugin so the performance penalty isn't incurred on all users

[2015-07-29 15:09] rtyler commented on #118
This has been addressed in some recent JRubyExec refactorings

[2015-07-29 15:09] #118 closed

[2015-07-30 13:46] rtyler commented on #96
We're fast approaching 1.0, and I'm not sure I agree with the original reasoning in this ticket any longer. I'm going to close it out since I do not see a compelling argument anymore for modifying the `jruby{}` closure.

[2015-07-30 13:46] #96 closed

[2015-07-30 13:48] rtyler commented on #60
I think this still makes sense to provide, but I would no longer go the route I suggested before.

I think a `CompileRuby` type task which relies on `sourceSets` makes a lot of sense for solving this problem. It's not something I think should go strictly into a task

[2015-07-30 13:58] rtyler commented on #154
One option that would address this that @mkristian and I discussed was making it such that the `GemUtils. code would prune the gem specifications for versions that are not actively being used from the `$buildDir/gems` directory.

[2015-07-30 14:39] #148 closed

[2015-07-30 14:39] #152 closed

[2015-07-30 14:39] #155 closed

[2015-07-30 14:39] #157 closed

[2015-07-30 16:14] #149 closed

[2015-07-30 16:14] #115 closed

[2015-07-30 16:23] mojavelinux commented on #60
Sounds reasonable. +1 for composable tasks.

[2015-07-31 06:30] rtyler opened #165 "Jar created from JRubyJar not properly nesting dependent jars"
It appears that our jars are not properly embedding jars within them, I've noticed this while working on  #164

Need to fill in details later, but suffice it to say my demo example which contains slf4j is getting raw `.jar` files dumped into it

[2015-07-31 08:05] rtyler opened #166 "JRubyJar integration tests should cover jar embedding"
Right now the "self-executing-jar" gradleTest doesn't embed a jar, and I think this is part of why we didn't notice #165

This should have an integration test that makes sure we can properly call into a nested jar class

[2015-07-31 10:04] rtyler commented on #165
Writing some notes about the debugging of this.

For something like `org.slf4j.slf4j-api` for example we have this in the "broken" version":

[code]

In a "not broken" version, there is these files as well:

[code]

In the non-broken there is also the SLF4J clsases, so I'm not 100% sure that the presence of these `org/.jrubydir` files is useful or not yet.

[2015-08-01 05:50] #166 closed

[2015-08-01 05:51] rtyler commented on #165
This should be corrected at least in the documentation now, but  mkristian/jruby-mains#5 still needs to be resolved

[2015-08-01 05:51] #165 closed

[2015-08-01 09:17] rtyler opened #168 "Setting of jrubyMainsVersion happens after dependencies are evaluated"
While experimenting with a pre-release version of jruby-mains, I added some logging:

[code]

Not surprisingly my jar is using the wrong version of the jruby-mains library

[2015-08-01 09:20] rtyler commented on #168
It looks like we're not properly raising an error when the user provides a `jrubyMainsVersion` but not a configuration to put it in, the same way we have made `JRubyExec` configuration work

[2015-08-01 10:51] rtyler opened #169 "Specifying a configuration for a JRubyJar task should allow Configuration objects"
No reason I shouldn't be able to just pass in a configuration object directly

[2015-08-01 10:51] rtyler opened #170 "Specifying a configuration for a JRubyExec task should allow a Configuration"
No reason not to accept `Configuration` objects

[2015-08-01 10:56] rtyler opened #171 "JRuby/Gradle 1.0 release announcement needs to be written"
I should stop being lazy and write a blog post <_<

[2015-08-01 10:59] rtyler opened #172 "Contributing guidelines should be written"
We're missing instructions to help guide new contributors through the project

//cc @toch

[2015-08-01 11:02] rtyler opened #173 "A project code of conduct should be added"
I'm fearful of opening up a can of worms here since I've not done something like this before, and I realize how polarizing this topic can be for some people.

I'll have to enlist the help of either @lhawthorn or @nudibranch to make sure we get this right.

[2015-08-01 15:51] rtyler opened #174 "website should have a newbie friendly quick start quide"
I'm realizing that the examples on the site all expect the reader to have some basic familiarity with Gradle already.

Having a document on the home page or linked from the home page which outlines:

 * What Gradle is
 * How to install it
 * How to generate a project
 * How to use JRuby/Gradle with that project

[2015-08-07 15:32] #171 closed

[2015-08-08 03:00] rtyler commented on #116
These specs are working now, closing this out

[2015-08-08 03:00] #116 closed

[2015-08-08 18:58] #168 closed

[2015-08-08 19:35] rtyler opened #177 "JRubyJar specs are a mix of unit and integration tests"
The integration tests really need to be pulled out into a separate suite so that they operate in the same fashion that the `base` ones operate in.

This primarily affects the way in which some tests handle dependencies

[2015-08-08 19:37] rtyler opened #178 "Management of JRuby dependencies needs to be refactored out of JRubyExecUtils"
Right now there's some special behavior for managing JRuby dependencies, for example if you add a version prior to 1.7.20 we automatically add an updated `jar-dependencies` dependency.

This is now being used by `base`, `jar` and likely will be used by `war` too. It should be moved into a more general `JRubyDependency` class

[2015-08-08 19:41] rtyler opened #179 "docs need new screenshots"
The screenshots I had made for the examples in `docs/index.adoc` are already out-dated since we went to 1.0

[2015-08-08 20:32] rtyler opened #180 "Support proxy-less Gem resolution"
I've discussed this with @mkristian a bit, but basically what would be an ideal first pass implementation of supporting gem resolution "internally" in the Gradle process would be to embed the servlets code and then implement a function like:

[code]

Of course, the usage of the `rubygemsRelease()` function would do the same thing.

[2015-08-09 01:56] rtyler commented on #159
I've started working on a little library [over here](https://github.com/rtyler/groovy-gem)

[2015-08-09 18:47] robertpanzer opened #181 "Problem preparing gems with suffixes like preview or alpha in the version"
In the current build of AsciidoctorJ we use several plugins that have no final version number yet, like 'ruby gems:asciidoctor-pdf:1.5.0.alpha9'.

I am currently trying to migrate from ruby-gradle.base 0.1.17 to 1.0.1 and now these gems are no longer found.
To demonstrate my problem I created a small example:
[code]

While `gradle jrubyPrepare` fails like this, it successfully resolves the depende

[2015-08-09 18:58] rtyler commented on #181
@robertpanzer In the 1.x of JRuby/Gradle we've switched from relying on the `rubygems.torquebox.org` proxy to something that's more within our control that I've deployed to AWS: rubygems.lasagna.io.

Part of this is for performance (lasagna.io is 100% auto-scaled) but the major part of it is that the torquebox proxy is running a very old version of [rubygems-servlet](https://github.com/torquebox/r

[2015-08-09 18:59] rtyler commented on #181
The long term fix for this is #180 of course :)

[2015-08-09 19:37] robertpanzer commented on #181
Hmm.. it should actually work without the prereleases repo.
I can get the following URL without any problems:
http://rubygems-proxy.torquebox.org/releases/rubygems/asciidoctor-diagram/1.3.0.preview.4/asciidoctor-diagram-1.3.0.preview.4.pom
and I can even get it via the lasagna:
http://rubygems.lasagna.io/proxy/maven/releases/rubygems/asciidoctor-diagram/1.3.0.preview.4/asciidoctor-diagram-1.3.0.pr

[2015-08-09 19:42] mkristian commented on #181
if the prereleases would show up
in releases/rubygems/asciidoctor-diagram/maven-metadata.xml then you will
get prereleases for all version ranges. you can get prereleased
gem-artifact via the release one mainly some gems do reference prerelease
version, or you can use picked a gem with prerelease version in your
project without going prerelease for all gems.

some is true for the torquebox proxy a

[2015-08-09 20:13] robertpanzer commented on #181
OK, next try ;-), sorry for adding the prerelease repo

`gradle jrubyPrepare --refresh-dependencies` works with this (The old version of the plugin, 0.1.17) :
[code]

but not with this:
[code]

[2015-08-09 20:25] rtyler commented on #181
The first example doesn't actually work for me on the first go (Gradle 2.4).

[code]

Comically enough, it succeeds on the second run.

The second example fails for me with this:

[code]

This makes sense to me considering what is in the [maven-metadata.xml](http://rubygems.lasagna.io/proxy/maven/prereleases/rubygems/asciidoctor-diagram/maven-metadata.xml). If I add the prereleases repo, and chang

[2015-08-09 20:26] rtyler opened #182 "Document how to work effectively with "pre" versions of Gems"
#181 has made it clear that the supported behaviors both of [rubygems-servlets](http://github.com/torquebox/rubygems-servlets) and JRuby/Gradle when working with prerelease/alpha versions of gems is rather confusing.

This is something that I think should be thoroughly documented inside of the Base README

[2015-08-09 21:25] mkristian commented on #181
@rtyler no adding the prerelease repo is a bad idea since the version resolution of the transitive dependencies will look for release AND prereleased gems.

FYI the second run on TB repo worked because it takes its time to "download" the gems to produce the all the xml for this gem. once this xml is cached things are fast enough :) lasagne suffers the same performance penalty for first time gems

[2015-08-09 21:27] mkristian commented on #182
in my opinion this should not be used unless you want all prereleased gems picked as well - where as picking a single prereleased gem should (does work with maven) via the release repo.

[2015-08-09 21:34] rtyler commented on #182
This ticket isn't about using the `prereleases` maven repo so much as documenting how a JRuby/Gradle user should use a `pre`gem version

[2015-08-09 21:41] mkristian commented on #182
sorry my comment was confusing without reading the comment from #181

after fixing #181 prereleased gem dependencies should just pick a versions - version ranges will not work.

[2015-08-11 18:11] rtyler opened #183 "Updating of JRubyJar dependencies needs to happen at a different point in the Gradle lifecycle"
For the [storm plugin](/jruby-gradle/jruby-gradle-storm-plugin) I'm moving code around to make use of the `JRubyJar` task. To do so I've created a `JRubyStormJar` task which subclasses `JRubyJar`

This task is then created in the constructor of a third task, e.g.

[code]

When the project is evaluated that uses this `jrubyStorm` task, the following will occur:

[code]

The use of `project.afterEva

[2015-08-11 18:21] rtyler commented on #183
One idea I'm noodling about is overwriting `configure` and making it add JRuby dependencies in an idempotent fashion. This would require removing existing dependencies if present in the `configuration` and adding the appropriate ones for how the task is configured

[2015-08-11 18:26] rtyler commented on #109
This might be redundant once #159 is implemented

[2015-08-11 18:28] rtyler opened #184 "Integrate Gradle 2.6 into build"
Gradle 2.6 includes the continuous build stuff from Gradle 2.5 and includes the [Gradle TestKit](https://docs.gradle.org/2.6/userguide/test_kit.html) code which we *need*

[2015-08-11 18:29] rtyler opened #185 "Migrate integration tests to TestKit"
Depends on #184

This will make it *muchmuch* easier to incorporate edge-case integration tests and other sort of interesting use-cases that we see out in the wild into our integration test suite

[2015-08-11 18:30] rtyler commented on #65
This may be solved by #159

[2015-08-11 18:31] rtyler commented on #102
The work I have going on in [groovy-gem](/jruby-gradle/groovy-gem) might be able to help here, I'm not sure it's going to solve the problem outright though

[2015-08-11 19:22] ysb33r commented on #183
There is special support for default dependencies in Gradle 2.5. We might have to look at using that at some point in the future.

[2015-08-12 00:04] rtyler commented on #183
I've reproduced this bug with a simple test-case and it has nothing to do with the storm plugin "fortunately"

[code]

Executing the `someJar` task results in

[code]

[2015-08-12 14:37] #181 closed

[2015-08-12 14:37] #182 closed

[2015-08-12 15:08] rtyler commented on #177
Related to #185

[2015-08-12 18:17] rtyler commented on #183
I've come to the conclusion that this can be solved relatively easily by making sure that the addition of jruby dependencies happens on instantiation, or when configuration, jrubyMainsVersion or jrubyVersion gets modified. HOWEVER, that will result in this code failing to use the right JRuby version:

[code]

I fear this is a chicken and an egg situation and the only way to correct it is to have `

[2015-08-12 21:01] rtyler opened #187 "project.jruby.gemInstallDir and jarInstallDir need to be revisited/rethought"
With the push to get users to use separate Configurations for their gems, we should also consider revisiting how these work in `JRubyPluginExtension` as well.

One useful addition would be a method for getting the gemInstallDir for a specific configuration or setting it for a configuration.

[2015-08-13 17:03] mkristian commented on #187
I am surprised that the jarInstallDir is still around and can be configured. it should be always gemInstallDir + "/jars"

and as far I can tell you can set it but is not used anywhere anymore

the Jars.lock file will be generated per configuration and resides in gemInstallDir + "/Jars.lock"

so I hope each configuration gets it own gemInstallDir per default.

[2015-08-13 17:10] mkristian opened #190 "the generated gradle.rb needs to follow the jars/gems setup we have everywhere else"
currently all the jars and all gems a put into the classpath where only jruby-complete from the configuration has to go onto the classpath, all other dependencies will be managed by rubygems and jar-dependencies from jruby.

[2015-08-13 21:53] #184 closed

[2015-08-13 23:13] rtyler opened #191 "jruby-mains won't work on < 1.7.19 so we should warn/prevent that"
Noticed this while I was doing some work, the `uri:classloader` work wasn't introduced until 1.7.19, so `JRubyJar` with an `initScript` will only work on 1.7.19+

[2015-08-13 23:17] rtyler commented on #178
`JRubyJar` will no longer depend on this after #189

[2015-08-14 00:35] #177 closed

[2015-08-14 00:35] #183 closed

[2015-08-15 18:25] mkristian opened #192 "Jars.lock needs to be kept per configuration"
Jars.lock can/will be different from configuration to configuration. each needs to be "named" differently or located differently on a per configuration base.

the problem I have right now that the generated gradle.rb can not

[2015-08-16 19:53] rtyler opened #193 "Packing JRubyJar shouldn't include a jruby-mains.jar"
Since jruby-mains is unzipped into the destination archive, there's no need to include the raw version of the file in the archive as well

[2015-08-17 16:17] #193 closed

[2015-08-17 17:02] rtyler opened #195 "Released archives of base aren't correctly laid out in maven repo"
Look at [this repo layout](https://bintray.com/jruby-gradle/plugins/jruby-gradle-plugin/1.0.2/view#files) and you'll see two directories `jruby-gradle-plugin` and `jruby-gradle-base-plugin`.

This is incorrectly laid out, and everything should be under `jruby-gradle-plugin`

[2015-08-17 17:22] rtyler commented on #195
This is only affecting the base plugin because its directory (aka project name) doesn't match what it is supposed to be released as.

This is likely just a misconfiguration of the Gradle maven plugin

[2015-08-18 17:10] rtyler commented on #173
@CoralineAda submitted [this CoC](https://github.com/rails/rails/pull/21292) for the rails project which looks pretty good to pilfer

[2015-08-19 11:37] abelsromero opened #197 "'jruby-gradle-jar-plugin' integrations tests fail on Windows"
I was trying to build the project on a Windows 8 local machine and I found that integration tests for jar-plugin fail due to a path constructions issue.

Just adding `.replaceAll("\\\\","/")` to lines [139 and 141](https://github.com/jruby-gradle/jruby-gradle-plugin/blob/master/jruby-gradle-jar-plugin/src/integTest/groovy/com/github/jrubygradle/jar/JRubyJarIntegrationSpec.groovy#L139-L141) fixed t

[2015-08-19 12:06] mkristian commented on #197
since I have a windows machine at hand. I rather replace ```absolutePath``` with ```absoluteFile.toURI().toURL()``` and let the java do the conversion. could you try this one out for me ? then we can pick a solution which works.

[2015-08-19 13:15] abelsromero commented on #197
Much better indeed and works perfectly (on Ubuntu too). Since `file://`is no longer required for `url`, the final code would be:

[code]

[2015-08-19 13:42] mkristian commented on #197
thanx a lot. will prepare a PR unless you are first :)

[2015-08-19 14:11] abelsromero commented on #197
master branch?

[2015-08-19 15:35] rtyler commented on #197
@abelsromero yes, all PRs should be made against master. Thanks for finding the issue!

[2015-08-19 15:45] abelsromero commented on #197
PR sent.

It's no big deal. I have the custom to report everything, even little things.
Btw, if you want to test automatically against Windows, you can easily integrate AppVeyour. Works exactly like TravisCI but on Windows machines, here is an example https://github.com/asciidoctor/asciidoctorj/blob/master/appveyor.yml

[2015-08-19 17:33] #197 closed

[2015-08-20 16:57] rtyler opened #200 "Jar should not be packed with gems/cache/*.gem"
Right now the cache/ directory contents are being included in the packaged up jar file, but serve 100% no purpose other than to bloat the size of the package.

In one case internal to Lookout, the cache/ directory for a jar-based project is 14MB all on its own!

[2015-08-20 19:03] rtyler commented on #200
One temporary work-around is to use:

[code]

[2015-08-20 19:16] mkristian commented on #200
+1

[2015-08-24 18:01] #173 closed

[2015-08-25 15:33] rtyler opened #201 "jrubyJar configuration not having its jruby version updated"
I believe this is only happening when jrubyJar exists in a sub-project. I still need to isolate this more into a public reproduction case since I'm only seeing it on Lookout internal projects

[2015-08-25 15:34] rtyler opened #202 "jrubyJar { defaults 'foo' } should be an error"
It's confusing for pre 1.x users who might have `defaults "gems"` still present

[2015-08-25 15:35] rtyler opened #203 "Documentation should cover the "gems" configuration sharing pattern"
When sharing gems between jrubyJar and something like an `spec` task, it's a useful pattern to do:

[code]

And keeping base/common gems in the `gems` configuration

[2015-08-25 15:56] rtyler commented on #202
The docs need to be updated to remove references to `defaultGems()` or `defaults 'gems'`

[2015-08-25 16:36] rtyler opened #204 "Add a properly acceptance test and documentation for library type jrubyjars"
[code]

I'm not convinced we're generating library jrubyjars to these rough specifications from @ysb33r, so we should make sure there's a good acceptance test for it and update the documentation

[2015-08-25 16:45] mkristian commented on #204
the ```library()``` option was meant to do this.

+1 for the tests

[2015-08-26 10:15] mkristian opened #205 "jruby-complete is not a good artifact"
jruby-complete comes with two minefields:

* shadows/shades quite a few dependencies: http://repo1.maven.org/maven2/org/jruby/jruby-core/9.0.0.0/jruby-core-9.0.0.0.pom (for the first level transitive dependencies)
* jruby-stdlib is also shadowed/shaded which comes with embedded jars which can create classloader conflicts between the application classloader and the jruby-classloader when both load

[2015-08-26 10:54] ivanove opened #206 "Getting started"
Hi all,

I try to use the simple example of print-script.rb but it gives me error when I "add import com.github.jrubygradle.JRubyExec"

when I delet it it gives me that error
Error:(31, 0) Could not find property 'JRubyExec' on root project 'MyAPP'.

[2015-08-26 14:50] rtyler commented on #205
Is this a problem for the `jar` plugin or `base`? I'm also wondering what we lose if we switch to `jruby-stdlib`? Does jar-dependencies still get bundled into that artifact?

[2015-08-26 14:53] rtyler commented on #206
@ivanove Make sure that the plugin is added to the top of the `build.gradle`, the example on the jruby-gradle.org homepage omits this for brevity but it mentions how this works in [this installing section](http://jruby-gradle.org/base/#installing).

Basically, the full thing is:

**build.gradle**
[code]

The `buildscript` section is something provided by Gradle itself to allow the loading of plugi

[2015-08-26 15:22] ivanove commented on #206
Yes, it works, thank you very much !

[2015-08-26 15:22] #206 closed

[2015-08-26 16:30] mkristian commented on #205
so jruby-complete is the shaded/shadowed jar from org.jruby:jruby. the latter is just a pom with two dependencies: org.jruby:jruby-core and org.jruby:jruby-stdlib
the org.jruby:jruby-core has following dependency graph:
[code]
the is essentially right (the asm code get different java package to hide them).

jruby-complete is just a convenient jar to execute jruby via the command line and it is an

[2015-08-26 17:35] rtyler commented on #205
So just to be explicit here, you're suggesting that we include jruby-core into jrubyJar here?

Is jruby-complete still acceptable for `JRubyExec`?

[2015-08-26 17:59] rtyler opened #207 "Capture and document how to use a runnable jar for executing non-packed scripts"
@raelik wrote up [this gist](https://gist.github.com/raelik/0ab65004122f1963f1a5) which outlines how to use a jrubyJar packed jar to execute a Ruby script outside of the jar file using the dependencies packed therein.

This might be useful for others so we should add it to jruby-gradle.org

[2015-08-26 18:29] mkristian commented on #205
another example: currently there is fixed jnr-ffi jar with better search for search. even if this gets released you can not use it until you get jruby-complete release which embeds it. (this is just an example since jnr-ffi is not part of the final dependencies due to those asm repacking)

with the module jruby artifact you just add the jnr-ffi to your "jruby" configuration and can use it. this is

[2015-08-26 18:56] ysb33r commented on #205
`jruby-complete` will probably  be necessary for `JRubyExec`. Also for `jrubyJar` if you are not building a fat jar then `jruby-complete` might be needed.

I might not be an expert on JRuby development, but as a user  I want to do as little as possible to bootstrap my JRuby-enabled app. So for me use of `jruby-complete` is more applicable. A more advanced developer might only need to use `jruby-co

[2015-08-27 14:04] mkristian commented on #205
from dependencies management point of view ```jruby-complete``` is a bad choice since it is one jar with all those dependencies from ```org.jruby:jruby``` packed into. i.e. the moment you have joda-time and jruby-complete as dependencies you just do not know which joda-time is used - depending on the classloader and how those jars get added to it.

the moment you need another joda-time version as

[2015-08-28 01:17] rtyler opened #209 "Can we improve the resolution failure message?"
When there are two conflicting versions of a ruby dependency in the dependency graph the Gradle process will error out with something like: `> there is no overlap for [0.8.40,0.8.40] and [1.0,1.99999]`

If you know what this error message means and how to interpret it, it's reasonable but if it's your first time seeing the error it can be confusing to understand what the proper course of action mi

[2015-08-31 16:05] mkristian commented on #190
fixed with https://github.com/jruby-gradle/jruby-gradle-plugin/pull/208

[2015-08-31 16:05] #190 closed

[2015-09-09 15:33] rtyler opened #211 "Upgrade the default JRuby version to 9.0.1.0"
[see release announcement](http://jruby.org/2015/09/02/jruby-9-0-1-0.html)

[2015-09-09 17:10] rtyler opened #213 "Cannot resolve ruby-debug dependencies properly"
The [ruby-debug](https://rubygems.org/gems/ruby-debug) gem expresses a version dependency on `ruby-debug-base ~> 0.10.4.0` which JRuby/Gradle complains about:

[code]

[2015-09-09 17:21] mkristian commented on #213
having ```rubygems:ruby-debug-base:[0.10.4.0, 0.10.4.99999]``` as dependency can not resolved to ```rubygems:ruby-debug-base:0.10.4``` via the ivy resolver used by gradle. nothing the plugin can adjust in a sane way, i.e. without increasing the range to [0.10.4,0.10.5] but not work with [0.10.4.2, 0.10.4.99999] ranges anymore.

[2015-09-09 17:42] mkristian commented on #213
after a second thought something like:

if more then three version parts then transform the last version parts to one, when last one is '0'

examples:
[0.10.4.0, 0.10.4.99999] => [0.10.4, 0.10.4.99999]
[0.10.5.rc9.0, 0.10.5.rc9.99999] => [0.10.5.rc9, 0.10.5.rc9.99999]

so basically we can eliminate the trailing 0 digits of a version. this brings us closer to the maven version resolution.

[2015-09-09 17:51] #211 closed

[2015-09-09 17:51] #200 closed

[2015-09-09 19:38] #213 closed

[2015-09-09 19:48] mkristian commented on #180
fixed with #199

[2015-09-09 19:48] #180 closed

[2015-09-10 16:16] rtyler opened #217 "Proposal: Remove oraclejdk7 from the testing matrix"
Right now we have:

* oraclejdk7
* oraclejdk8
* openjdk7

This gives us reasonable good test coverage but considering the [end-of-life nature of Oracle's JDK7](http://www.oracle.com/technetwork/java/javase/documentation/eol-135779.html), I'm not sure it's worth the extra time spent in Travis CI to wait for the `oraclejdk7` build axis to complete.

I propose we remove it, any objections?

[2015-09-10 18:55] rtyler opened #220 "prepareJRubyJar doesn't cache results and reinstalls gems every single run"
Because we're now installing gems into `build/dirinfo/jrubyJar` by default, [this line](https://github.com/jruby-gradle/jruby-gradle-plugin/blob/29bcf7a7337d2b5a0b643dcb196c151a94e53a3a/jruby-gradle-jar-plugin/src/main/groovy/com/github/jrubygradle/jar/internal/JRubyDirInfo.groovy#L18) ensures that the directory is completely cleaned every time the `JRubyDirInfo` object is instantiated.

This is o

[2015-09-10 20:32] #217 closed

[2015-09-10 20:52] mkristian commented on #220
this current implementation is problematic due to following issues:

* collecting the dir data in memory is not possible since this hook https://github.com/jruby-gradle/jruby-gradle-plugin/blob/29bcf7a7337d2b5a0b643dcb196c151a94e53a3a/jruby-gradle-jar-plugin/src/main/groovy/com/github/jrubygradle/jar/JRubyJar.groovy#L245 is just a visitor and there is no "end of visit" callback
* the relative path

[2015-09-10 21:32] rtyler commented on #220
I think I'll remove the `deleteDir` from now to prevent this regression and open another enhancement request to more cleanly stage and generate the `.jrubydir` information when we create the jar artifact instead of the stage directory

[2015-09-10 21:43] rtyler opened #223 ".jrubydir generation should not pollute the local file system"
Related to #220

Instead of generating a .jrubydir setup on disk which must be maintained and can easily become stale, we should implement a transformation to where `.jrubydir` is added at jar creation time

[2015-09-10 22:03] rtyler commented on #223
For my own future reference, [here's a thread documenting one way of updating jars after they're built](http://gradle.1045684.n5.nabble.com/is-it-possible-to-update-jar-contents-td3407766.html) in Gradle. Also for reference the way the [ShadowCopyAction](https://github.com/johnrengelman/shadow/blob/master/src/main/groovy/com/github/jengelman/gradle/plugins/shadow/tasks/ShadowCopyAction.groovy) and

[2015-09-10 22:03] #220 closed

[2015-09-10 23:59] #179 closed

[2015-09-14 20:11] rtyler opened #224 "Write internal documentation on the purpose of .jrubydir"
To make sure it's understood what `.jrubydir` files are for in the packed jar/war context we should document that for posterity

[2015-09-15 09:47] mkristian opened #225 "jrubyJar tasks fails to create correct .jrubydir file when using 'into( )' statements"
[code]
this produces corrupt .jrubydir files in the sense that the root .jrubydir file contains ```boot.rb``` and there is no app/.jrubydir file at all.

might be the cause of https://github.com/jruby-gradle/jruby-gradle-storm-plugin/issues/24
and is related to https://github.com/jruby-gradle/jruby-gradle-plugin/issues/220#issuecomment-139375444

[2015-09-15 17:01] rtyler commented on #131
I'm back to thinking this should be a project property which affords the user the greatest amount of flexibility (IMHO) since they can take advantage of the `-P` CLI, `gradle.properties` and `~/.gradle/gradle.properties` delegation for setting it.

For projects at Lookout we're using `-PjrubyVersion=9.0.0.0` which allows the releng/build team to test projects with different JRuby versions easily,

[2015-09-15 18:47] rtyler commented on #150
I don't think there's actually a clean way to fix this unless we explicitly apply the java plugin prior to setting up tasks in `JRubyJarPlugin` which adds behaviors that I don't think are a great default to the plugin.

If we create/replace the jar task, and _then_ the java plugin is applied, a big fat stacktrace will occur

If a user is adding something which provides the jar task ,then they're g

[2015-09-15 18:47] #150 closed

[2015-09-15 20:57] rtyler commented on #191
I'm thinking an afterEvaluate hook that checks `jruby.defaultVersion` and iterates through tasks of type `JRubyJar` checking their `jrubyVersion` should be sufficient here

[2015-09-16 02:16] rtyler commented on #160
I think with tickets like #223 and and #225 it is clear that .jrubydir has to be moved and refactored. I'm going to close this out as a result.

[2015-09-16 02:16] #160 closed

[2015-09-16 13:26] #131 closed

[2015-09-16 14:08] #191 closed

[2015-09-16 14:38] rtyler commented on #195
Looks like this needs to be done in order for 1.1.0 to properly have its dependencies resolved. Going to throw this in the 1.1 milestone and release a 1.1.1 with a fix

[2015-09-16 15:22] rtyler commented on #195
It looks like [this bit of code in the bintray plugin](https://github.com/bintray/gradle-bintray-plugin/blob/master/src/main/groovy/com/jfrog/bintray/gradle/BintrayUploadTask.groovy#L474-L478) is probably responsible. Since we don't have a `pom` type artifact in the `archives` configuration. One is being created with `project.name` as the name.

[2015-09-16 16:17] #195 closed

[2015-09-16 16:21] rtyler commented on #133
I'm going to go ahead and close this, I'm not sure there's anything we can/should do here. Please correct me if I'm wrong and we can reopen

[2015-09-16 16:21] #133 closed

[2015-09-16 16:22] rtyler commented on #109
This might also be redundant once #223 is implemented

[2015-09-16 16:23] rtyler commented on #25
We have `JRubyExec` now and I've not seen other needs for embedding Ruby in Gradle files so I'm going to close this

[2015-09-16 16:23] #25 closed

[2015-09-17 17:02] rtyler opened #228 "Document PermGen requirements for JDK7 and the embedded proxy"
Based on some internal testing with a JDK7 build, @mkristian and I have identified challenges with using a multi-project build with the new `rubygems()` repository handler.

There should be a caveat added to the docs when talking about this incubating feature on JDK7 since it hits the limited default PermGen space pretty hard.

[2015-09-18 12:54] mkristian opened #229 "Jars.lock needs to reflect the installed jars"
whenever you add or remove a new gem/jar for your jruby configuration, the ```Jars.lock``` needs to reflect the jars of the configuration. currently it will be only written once when it is not there.

[2015-09-18 16:12] #229 closed

[2015-09-18 20:30] rtyler commented on #228
This is briefly mentioned in the [1.1 release announcement](http://jruby-gradle.org/news/2015/09/18/jruby-gradle-1-1/)

[2015-09-21 17:27] rtyler opened #231 "Document patterns for using dependency-lock plugin"
In order to achieve the closest behavior to Bundler with Gemfile/Gemfile.lock, users should be using the JRuby/Gradle plugin with the [dependency-lock](https://github.com/nebula-plugins/gradle-dependency-lock-plugin)

[2015-09-22 00:03] rtyler opened #232 "Add latest version buttons to download page"
A simple asciidoctor task but the [download](http://jruby-gradle.org/download/) page should have bintray "latest version" buttons for each plugin listed there

[2015-09-22 16:57] rtyler commented on #159
This depends on jruby-gradle/jem#11 being resolved

[2015-09-22 20:43] #169 closed

[2015-09-22 20:43] #170 closed

[2015-09-22 20:43] #187 closed

[2015-09-23 14:20] rtyler opened #234 "Defalut embedded rubygems proxy to *on*"
This is not a deadline but rather a reminder ticket that, assuming the support is deemed "stable" by 1.2.0 that we enable the embedded jetty servlet support by default.

If the support is still deemed too slow or unstable then I'm fine punting this to a later release, but I want to get it moving along if possible

[2015-09-23 19:03] rtyler opened #235 "rubygems() resolution doesn't work as expected in --offline mode"
[code]

I'm not sure what I expected, but it wasn't that :P

[2015-09-23 21:32] rtyler opened #236 "GenerateGradleRb not using its Configuration to determine the destinationDir"
[code]

Will still generate a `gradle.rb` with the `GEM_PATH` and `GEM_HOME` set to `build/gems` instead of the directory that `JRubyPrepare` will use for `mySpecialConf`

[2015-09-24 02:59] mkristian commented on #235
is this with or without embedded jetty repositories ?

[2015-09-24 03:01] mkristian commented on #234
what about first get rid of jetty and use a more direct aproach. will
remove complexity and with it some problems (I hope)

[2015-09-24 13:28] rtyler commented on #235
This was with the embedded jetty-based repositories

[2015-09-24 13:29] rtyler commented on #234
I'm open to implementing a more direct approach, but adding a new repository type is something that isn't very well documented in Gradle so hijacking the Maven support seems to work pretty well

[2015-09-24 13:39] rtyler opened #237 "Should we automatically create a JRubyPrepare task for each configuration?"
In the case where I might have:

[code]

I have three configurations that I'm going to place Ruby dependencies into:

1. `gems`
1` `cucumber`
1. `rspec`

However the default `jrubyPrepare` is only going to prepare the gem installation directory for the `gems` configuration.

What about dynamically creating a task for each of the others as well? I.e.:

1. `jrubyPrepare`
1` `jrubyPrepareCucumber`
1.

[2015-09-25 02:28] rtyler commented on #236
Somewhat related (in my head at least) to #237

[2015-09-25 09:57] mkristian commented on #234
still goes over the maven support, just leaving out jetty. it is actually
pretty straight forward after the jetty work so far.

[2015-09-25 15:43] rtyler commented on #234
@mkristian if you have some time to write this out in a GitHub issue, i'm very curious to the details of the approach you think will work to remove Jetty. :+1:

[2015-09-25 15:55] rtyler opened #238 "jrubydir generation should happen when the JRubyJar is packed"
We've had a number issues with `.jrubydir` generation happening separate from the packing of the `JRubyJar` itself, leading to inconsistent building of the files in the resulting archive

The solution, IMHO, here is to take a page from [the shadow plugin](/johnrengelman/shadow) and implement a custom `CopyAction` for `JRubyJar` which will generate the `.jrubydir` files inline when the archive is c

[2015-09-25 16:17] mkristian opened #239 "use protocol handler instead of rubygems servlet"
replacing the rubygems servlet with a custom protocol handler. for protocol handler see http://docstore.mik.ua/orelly/java/exp/ch09_06.htm

this allows to use url/uri inside java like ```mavengem:https://rubygems.org``` the protocol handler will use the nexus-ruby-tools library directly (like the rubygems-servlet) does.

this removes the need to run a server in the background, once the "mavengem"

[2015-09-25 16:20] mkristian commented on #234
@rtyler please see https://github.com/jruby-gradle/jruby-gradle-plugin/issues/239

[2015-09-25 16:38] rtyler commented on #239
@mkristian do you know whether or not the `maven { url 'foo' }` support in Gradle will properly utilize and respect protocol handlers? Sounds like a very novel approach!

[2015-09-25 16:44] mkristian commented on #239
gradles uses ```URL``` objects, then gradle has no chance but to use those :)

usually this is used to implement custom classloaders but we do not need the classloader here. so it is quite common to do this.

[2015-09-25 17:16] rtyler opened #240 "`rubygems()` resolution support litters /tmp with `jruby\d+.jar` files"
**Note:** Right now I do not believe that this a bug, but the result of investigation that I want to keep for posterity

When using 1.1.x with the `rubygems()` support, e.g.

[code]

The `/tmp` directory is getting filled with `jruby\d+.jar` files that are not properly cleaned up.

[code]

[code]

However when I use the `--daemon` flag:

[code]

Once the daemons are killed, the files are then dele

[2015-09-25 17:16] #240 closed

[2015-09-25 18:10] mcandre commented on #60
+1

[2015-09-29 15:39] dstine opened #242 "tags and published versions"
Thank you for this project.

The latest tag I see in the repo is `v1.1.0`.

I see versions `1.1.1` and `1.1.2` published to JCenter, but not `1.1.0`. (https://bintray.com/jruby-gradle/plugins/jruby-gradle-plugin/view#release)

So I don't see any 1.1.x version that is both tagged in the repo and published to JCenter. I am new to this project, am I missing something?

[2015-09-29 15:44] rtyler commented on #242
It looks like I forgot to push those versions, whoops! This has since been corrected.

The 1.1.2 version is the correct version to rely on since the 1.1.0 and 1.1.1 versions I had some mistakes in generating the POM files properly. 1.1.2 is proper and correct though :)

[2015-09-29 15:44] #242 closed

[2015-09-29 15:51] dstine commented on #242
Yep, I see the `v1.1.2` tag now. Thanks.

[2015-09-29 16:27] rtyler opened #243 "We should provide a lazybones template"
Now that I'm using JRuby/Gradle a lot more, I'm convinced that @ysb33r was right when he suggested this a long time ago. But basically we should provide some basic [lazybones](https://github.com/pledbrook/lazybones) templates for what a "good" version of the jruby/gradle project would be

[2015-09-29 20:24] rtyler commented on #109
This is no longer needed since #225 will address generating `.jrubydir` files which are only needed in a packed jar scenario

[2015-09-29 20:24] #109 closed

[2015-09-29 21:19] jamescway commented on #236
Would it make sense to set `this.gemInstallDir = project.tasks.JrubyPrepare.outputDir` when the `GenerateGradleRb::configuration(Object config)` gets called with argument `mySpecialConf`?

[2015-09-29 22:04] rtyler commented on #236
@jamescway something like that would need to happen and something to address #237. Without #237 right now there isn't a `jrubyPrepare` task for non-default configuraitons, so `mySpecialConf` wouldn't actually have gems installed without it.

[2015-09-29 22:10] rtyler commented on #121
Related to #237

[2015-09-29 22:38] #112 closed

[2015-09-30 15:09] #223 closed

[2015-09-30 15:09] #225 closed

[2015-09-30 15:17] rtyler commented on #238
Fixed with #244

[2015-09-30 15:17] #238 closed

[2015-09-30 19:50] raelik opened #245 "Generated jar file is missing bin/ scripts installed by gems"
Commit c8e6d57ad changed the way that staged files are included in the jar, ostensibly to exclude the cached gems from the jar file.  In the process, the bin/* scripts were also excluded.  These are necessary when using a fat jar as a jruby-complete+artifacts jar library.

[2015-09-30 20:26] #245 closed

[2015-10-01 14:29] rtyler commented on #201
Using the following `build.gradle` i was not able to reproduce this:

[code]

When running with `./gradlew` the archive runs the default version (currently 9.0.1.0) and when running `./gradlew -PjrubyVersion=1.7.22` the archive runs with that previous version.

[2015-10-01 14:29] #201 closed

[2015-10-01 16:38] rtyler opened #249 "release task not properly publishing releases to bintray"
I've noticed this with the past couple releases, when I execute `./gradlew release` only the `war` plugin is actually published properly on bintray.

Despite the runlist stating to the contrary:

[code]

If I look at the packages themselves (after logging in) on bintray, I see them there, but it's like they haven't been "published" properly or marked as public versions.

[2015-10-02 14:42] rtyler opened #251 "release task shouldn't publish github pages"
This means every patch release is publishing an old version of the site, so instead of cherry-picking all documentation fixes back to the release branch, let's just make publishing github pages an explicit call again

[2015-10-02 17:01] rtyler commented on #142
The work that @mkristian has done with the maven plugins generates a war file with `uri-classloader:/` mapping to `WEB-INF/classes` inside the archive with `jruby-complete` and `jruby-rack` inside of `WEB-INF/lib`

* `WEB-INF/classes/config.ru`
* `WEB-INF/classes/gems/*`
* `WEB-INF/classes/jars`

[2015-10-02 17:02] rtyler opened #252 "war plugin needs a working example documented"
A simple [sintra](http://sinatrarb.com) example would be sufficient, just something we can start to use in our integration tests

[2015-10-02 17:21] mkristian commented on #142
it also needs:
[code]

this is part of the latest jruby-rack (or at least from 1.1.18 onwards) and this is also tested with jruby proper.

will not work with bundler currently which implies rails might not work either

[2015-10-02 17:25] rtyler commented on #142
@mkristian I'm not sure I understand what you mean by "it does not work with bundler current", do you mean the bundler runtime setup, e.g. `Bundler.require()`?

if so, that's fine IMHO :)

[2015-10-02 17:33] mkristian commented on #142
I tried ```require 'bundler/setup'``` which works with runnable. but I guess bundler is anyways not important with our gradle plugins. just wanted to mention the limitations of packing war files like this.

[2015-10-04 00:32] #202 closed

[2015-10-04 00:32] #251 closed

[2015-10-12 21:25] raelik opened #254 "rubygems() does not support repository URLs that require authentication."
I've found that if you try to use a repository URL in the form of http(s)://username:password@... for a rubygems repository that requires Basic auth, you will always get a `java.io.IOException: Server returned HTTP response code: 401 for URL: ...` exception, regardless if the username and password are correct or not.  I narrowed down the issue to a lack of support for this format of URL, or indeed

[2015-10-13 10:47] ysb33r commented on #254
In Gradle the convention is to use a crendentials block, which the underlying Maven/Ivy repository objects will pick up and use for authentication.

[2015-10-13 14:14] raelik commented on #254
@ysb33r That being the case, the underlying nexus library would still need to be modified, albeit maybe in such a way to accept those credentials separately from the url.  Alternatively, the jruby-gradle plugin could prepend them to rubygems repository urls when appropriate.

[2015-10-13 14:50] mkristian commented on #254
yes, the ```rubygems()`` configuration should have its own authentication part as ```maven()``` but that is another issue.

either the nexus-tools fix or we get a CachingProxyStorage.java with fix authentication into the rubygems-servlets. will check when sonatype plans to release a new nexus-oss for the old branch.

@raelik a more up to date repo is https://github.com/sonatype/nexus-public/tree/n

[2015-10-13 15:09] raelik commented on #254
@mkristian Thanks! I was digging in that repo but I couldn't find the ruby tools. Didn't think to look in the nexus-2.x branch.

[2015-10-13 15:27] raelik commented on #254
So it looks like what I recommended would be ok as a quick hack to support basic auth using username:password in the URL, but a better long-term solution would be:

* Have CachingProxyServer accept credentials in its constructor
* Fix RubygemsServletContextListener in the rubygems-servlets lib to pull those credentials from init params (e.g. GEM_PROXY_USERNAME, GEM_PROXY_PASSWORD) and pass them al

[2015-10-13 15:38] mkristian commented on #254
this really depends on the the above rubygems-servlet issues solved first.

[2015-10-13 16:34] raelik commented on #254
@mkristian :+1:

[2015-10-16 19:24] rtyler commented on #254
I'm going to optimistically put this in the next release milestone *fingerscrossed*

[2015-10-21 18:50] rtyler opened #255 "Upgrade default to 9.0.3.0"
http://jruby.org/2015/10/21/jruby-9-0-3-0.html

[2015-10-22 18:37] #255 closed

[2015-11-11 16:35] mkristian commented on #254
@raelik just wanted to patch the nexus library but I think we can easily overwrite the method here
https://github.com/sonatype/nexus-public/blob/nexus-2.x/plugins/rubygem/nexus-ruby-tools/src/main/java/org/sonatype/nexus/ruby/layout/CachingProxyStorage.java#L202

and add  the authentication bits to it. let's see if they just add it nexus as well.

[2015-11-11 16:44] mkristian commented on #254
this would be the patch https://gist.github.com/mkristian/0ad2fc25ab806df83796 - I will test it tomorrow a see what nexus folk have to say.

[2015-11-11 16:50] mkristian commented on #254
nope there is more to it :(

[2015-11-11 17:04] mkristian commented on #254
anyways updated my gist https://gist.github.com/mkristian/0ad2fc25ab806df83796

[2015-11-11 20:32] raelik commented on #254
@mkristian Looks good to me :+1:

[2015-11-12 21:12] mkristian opened #258 "no more .jrubydir files for /specifications/* and /gems/**"
build.gradle
[code]
Rakefile
[code]

which gives:
[code]

[2015-11-13 00:36] rtyler commented on #258
So I'm clear, the expected behavior is that specifications/ and gems/ should have `.jrubydir` files inside of them, but do not after the transformer type change that I had made right?

[2015-11-13 08:37] mkristian commented on #258
yes,  and things work as JRuby tries to find a way around the missing "."
files which works in some cases and in other it does not work. yes the
transformer does add the .jrubydir files at places where we could leave
them out like /org/jruby/** but that does not harm as it is. the missing
ones fail to run the UAT runners at lookout.

[2015-12-01 15:25] #258 closed

[2015-12-01 15:30] rtyler commented on #234
Since @mkristian has had trouble getting Gradle to cooperate with the URI handler, I'm going to remove this from the next minor release for now. I'm hoping that some of our requests to the Gradle developers won't go unheard and future versions of Gradle make this more easy than it is now :(

[2015-12-28 15:59] nilbus opened #262 "CHANGELOG.md outdated"
As of today, version 1.2.0 is released, but the changelog has not been updated since 0.2.1.

[2015-12-28 20:21] brasic opened #263 "Can't modify JAR manifest"
It appears that trying to modify the generated JAR manifest results in infinite recursion:

[code]

results in:

[code]

Is there another way I'm missing to add attributes to the jar manifest?

[2016-01-05 21:50] agt-the-walker commented on #263
Hello,
I can also reproduce this. In an empty directory:

    $ vim build.gradle
    buildscript {
      repositories { jcenter() }

      dependencies {
        classpath 'com.github.jruby-gradle:jruby-gradle-jar-plugin:1.2.0'
      }
    }

    apply plugin: 'com.github.jruby-gradle.jar'

    jrubyJar {
      manifest {
        attributes 'Class-Path': 'main'
      }
    }

    $ gradle --stackt

[2016-01-11 09:32] mkristian opened #265 "can not install executable-hooks gem"
this gem executes code when installing the extension and this code fails with jruby-complete.jar

the problem is that files inside the jruby-complete.jar are not writable and there are a few bin-stubs bundled with this jar.

https://github.com/rvm/executable-hooks/pull/22
would fix the issue since the check will now leave those bin-stubs from the jar alone.

[2016-02-13 13:14] michaelwoodson opened #267 "Can't resolve latest version of a dependency (e.g 'rubygems:colorize:+')"
Ran into this problem trying to upgrade to version 1.2.0 of jruby-gradle-plugin in another project that depends on it; that project uses a dependency in this format: 'rubygems:compass:+'.  With jruby 1.2.0 I get an exception from gradle trying to resolve dependencies.  I was able to reproduce the exception with this build.gradle:

[code]
Attempting to run the printSomePrettyOutputPlease task will

[2016-02-14 09:36] mkristian commented on #267
I think the ```Gem::Version``` does not handle the case ```rubygems:compass:+``` - so any PR fixing this is most welcome ;)

[2016-02-14 14:19] michaelwoodson commented on #267
Yeah, I couldn't find any documentation to support that construction, but it seems to have worked in the past.  I did some more experimentation and found that `rubygems:compass:[0.0,)` is a workaround.  I'll look at making a PR just to keep from throwing an exception in this case.

[2016-02-15 23:17] #267 closed

[2016-04-10 22:23] ysb33r opened #269 "jruby-jar does not add artefact to default configuration or publishable artifacts"
When plugin is applied we should do the equivalanent of something like

[code]

for adding to the publishable archives.

Also for adding to the default configuration we need to something like (taken from `JavaPlugin` code).

[code]

[2016-04-11 18:09] ysb33r opened #270 "Version of jar-dependencies is not handled correctly"
Currently there are a number of places where jar-dependencies version is set in both the base plugins and the jar plugin. The version here is still set at `0.1.15` as well.

The following files are culprits:
- `JRubyExec`
- `JRubyExecUtils`
- `JRubyJar`

We need to update the version and also  make the adjustment so that a user can also override the version form the configuration.

[2016-06-09 12:17] joankaradimov commented on #263
I have a workaround for this. I was able to avoid the stack overflow by using an alternative syntax:

[code]

[2016-07-06 22:44] rtyler commented on #270
This might be related to #274, would you mind confirming if I did the necessary work to fix this? I just noticed this after merging >_<

[2016-08-08 22:28] StevenCregan opened #276 "jruby-gradle.war plugin references"
In [this file](jruby-gradle-plugin/jruby-gradle-war-plugin/src/main/groovy/com/github/jrubygradle/war/JRubyWar.groovy) for the plugin, on line [#68](jruby-gradle-plugin/jruby-gradle-war-plugin/src/main/groovy/com/github/jrubygradle/war/JRubyWar.groovy#L68)
The task looks for https://repo1.maven.org/maven2/org/jruby/rack/jruby/rack/
but really this seems to be located here:  [https://repo1.maven.or

[2016-08-24 15:35] robertpanzer opened #277 "jrubyPrepare fails with JRuby 9.1.3.0-SNAPSHOT"
When building AsciidoctorJ with a current snapshot of JRuby 9.1.3.0 jrubyPrepare fails with this error:

[code]
This didn't occur with any previous version.

Don't know where this problem is rooted, the jruby-gradle plugin or jruby, and if it will be a problem with the released version, nevertheless want to file it here.

[2016-08-24 15:43] rtyler commented on #277
What version of Gradle is this with? Do you have a SHA1 of the commit in AsciidoctorJ to look at too?

[2016-08-24 16:26] mkristian commented on #277
@robertpanzer did you build the snapshot yourself ? the org/objectweb/asm classes are repacked to org/jruby/org/objectweb/asm but the repacking should also update those references. something went wrong or is wrong with the build of jruby-complete I would say

[2016-08-24 16:52] robertpanzer commented on #277
Sorry, reported in a hurry before leaving and still on a small screen.
I will collect all necessary information and add them here.

But I tried building the current asciidoctor-1.6.0 branch only upgrading
the JRuby dependency to a 9.1.3.0 snapshot from yesterday.
Iirc the version of the JRuby-gradle plugin is also already a bit old.

Am Mittwoch, 24. August 2016 schrieb Christian Meier :

[2016-08-25 06:06] robertpanzer commented on #277
This is with Gradle 2.14 running Java 1.8.0_91.

Running `./gradlew clean build` shows the exception when running on this commit:
https://github.com/robertpanzer/asciidoctorj/commit/b6593b1cdcf443982c3a495f3795d16ce62bda08
and after switching the jruby dependency to 9.1.3.0-SNAPSHOT.

I had a look at jruby-core-9.1.2.0.jar and the jruby-core-9.1.3.0-SNAPSHOT.jar and indeed 9.1.3.0 is missing these

[2016-08-25 06:11] robertpanzer commented on #277
Filed https://github.com/jruby/jruby/issues/4114

[2016-08-25 07:25] robertpanzer commented on #277
Fixed in JRuby. (see jruby/jruby#4114)

[2016-08-25 07:25] #277 closed

[2016-08-30 17:55] mrkaspa opened #278 "Better documentation"
The project looks great and I think gradle is the best build system in java, but the documentation is poor, also I tried to do the main example and it didn't work until I added the maven URL for the gradle plugins

[code]

[2016-08-30 18:04] rtyler commented on #278
@mrkaspa The `buildscript {}` block was left out for brevity's sake. I will re-add it to make it clearer that one can simply copy and paste it into a `build.gradle`

[2016-08-30 19:27] #278 closed

[2016-08-31 04:18] mrkaspa opened #279 "How can I configure a project to run rspec or minitest?"

[2016-09-02 23:18] rtyler opened #280 "Tests fail when the path has a space in it"
[code]

Looks like `toURL()` isn't doing what it should be doing!

[2016-09-03 00:43] rtyler commented on #280
The other test that fails is: `com.github.jrubygradle.JRubyExecIntegrationSpec.Running a script that requires a gem, a separate JRuby and a separate configuration`

Whose JRuby version cannot seem to build a valid path to its own `jruby.home` and `gem` binstub:

[code]

[2016-09-03 15:47] #280 closed

[2016-09-08 07:33] schauder opened #282 "clean fails when jruby plugin is used with gradle daemon"
I'm using the asciidoctor plugin, which uses the the jruby plugin. When running with the gradle daemon any subsequent clean task fails:

[code]

This is on Windows 7 64-bit

Snippet from the build script with (hopefully) all the relevant versions:

[code]

A workaround is to kill the correct java process with the taskmanager, which I assume is the gradle daemon.

I reported this issue first agains

[2016-09-08 14:23] rtyler commented on #282
@schauder what version of Gradle is this? Also what shell environment are you using there? This isn't under Cygwin or anything like that is it?

[2016-09-09 05:06] schauder commented on #282
I run gradle in the git bash (MINGW64)

[2016-09-09 17:16] rtyler commented on #282
@schauder I'm fairly busy this week and next ([Jenkins World](http://jenkinsworld.com)!) so I won't be able to look more into this until then. I'm not sure if @ysb33r or @mkristian has a Windows machine and the time to dig into this more

[2016-09-12 07:31] mkristian commented on #282
windows is very strict when a thread has a file descriptor and another thread tries to use the same file. i.e. some jruby is still running during `clean`

do not have windows develop environment at the moment

[2016-10-12 15:09] StevenCregan commented on #276
Closed #285

[2016-10-12 15:09] #276 closed

[2016-10-18 15:29] dafelipe130 opened #286 "Cannot pull gems on restricted environments implemented via a Gradle mirror (init scripts)"
Might be related to #13 and #17.

Plugin cannot pull gems when it's doing so in an environment where a mirror enforces certain repositories to be used instead
[code]

I'm currently using this Gradle init script to act as the mirror to some Artifactory repositories:
[code]

Could this be a limitation to Gradle not having a rubygems repository format as it seems to try to find a Maven metadata file

[2016-10-18 16:51] mkristian commented on #286
the rubygems repo needs to a maven repository. gradle does not allow to plugin a new repo format. so artifactory proxy/mirror will not work. nexus2 proxy/mirror offers this feature.

[2016-10-20 17:43] dafelipe130 commented on #286
That worked! This issue should help Artifactory admins get through with this

[2016-10-20 17:43] #286 closed

[2016-11-02 08:51] swistaczek opened #287 "Gradle 3 support"
Gradle 3 was recently released as stable https://docs.gradle.org/current/release-notes :).

[2016-11-02 10:57] rtyler commented on #287
GRADLE THREE WOOT

[2016-11-03 14:37] fap- opened #288 "jrubyPrepare doesn't refresh dependencies after initial"
Reproduction:

1. Clone https://github.com/asciidoctor/asciidoctor-gradle-examples

2. In https://github.com/asciidoctor/asciidoctor-gradle-examples/tree/master/asciidoc-diagram-to-html-example run
[code]

3. Change https://github.com/asciidoctor/asciidoctor-gradle-examples/blob/master/asciidoc-diagram-to-html-example/build.gradle#L12 to
`    gems 'rubygems:asciidoctor-diagram:1.5.2'` and save

4.

[2016-11-04 03:05] mojavelinux commented on #102
The real hangup here is that people using Gradle are locked out from using gems directly from a git repository or a locally built gem. That makes it almost impossible for them to help with testing.

[2016-11-04 06:19] mkristian commented on #102
a local gem is matter of adding it lib directory of the local gem to ruby
load-path. dito with checked out git repos. I do not if there are gradle
plugins dealing with git repo checkouts. I do not think it is impossible
but different from bundler. but I have to admit that I am not using the
jruby-gradle-plugin in bigger project

[2016-11-19 05:07] mojavelinux commented on #102
@mkristian While it's true that using a git clone allows you to put the files of the gem on the load path, it does not provide dependency management. The ability to use a gem from a path or git repository just like any other gem is one of the most valuable features of Bundler for development and testing (See http://bundler.io/v1.13/git.html). However, we lack that feature in the JRuby Gradle envir

[2016-11-19 11:20] mkristian commented on #102
@mojavelinux I tried to implement it when I worked on the jruby-maven-plugins and also here with the gradle plugin. I am also not the right person as I do not even use git and only temporary path declarations with ruby.

the moment I want to have reproducible builds, jruby-gradle needs some lock version plugin which makes the whole git and path part of more complicated as this is outside of the jr

[2016-11-19 20:46] mojavelinux commented on #102
Thanks for that insight!

For reference, I was able to work out how to use the gem from git without the dependency management. You can see instructions in the following thread.

https://github.com/asciidoctor/asciidoctor-pdf/issues/650#issuecomment-258338060

[2016-12-07 19:32] ysb33r opened #290 "Resolver cannot handle =, != in dependency ranges."
Create a build s ript that contains the following and try to run `gradle jekyll`

[code]

It will fail with error

[code]

This is due to the `(=4.4.0,4.99999]` notation.

[2017-04-10 14:28] boris-petrov opened #292 "Cannot find updates for gems via the gradle-versions-plugin"
The Gradle versions plugins allows checking for newer versions of dependencies. It doesn't work fine with JRuby gems for some reason. I've opened an issue with them:

https://github.com/ben-manes/gradle-versions-plugin/issues/155

And they suggested the following:

[2017-04-10 23:53] EarthCitizen opened #293 "Unable to set environment var from project.jrubyexec"
I am attempting to set an environment variable like so:

[code]

I have also tried `environment('MY_ENV_VAR', '123456')`, `environment = [JEKYLL_ENV: 'FOO_WOW']` and `setEnvironment([JEKYLL_ENV: 'FOO_WOW'])` but to no avail.

The env var is not getting picked up. When I run the task like this with the env var on the command line, the value gets picked up:

`MY_ENV_VAR=123456 ./gradlew myTask`

The

[2017-04-12 07:58] #293 closed

[2017-04-18 21:43] EarthCitizen opened #295 "Create Patch Release to Include Env Var Fixes"
Is it possible to do a patch release with the recently fixed #293? It turns out that the project I am working on needs this fix.

[2017-05-06 20:22] fap- commented on #287
Any progress here?
The structure of gradles internal api has changed so the tasks are failing:
`Unable to load class com.github.jrubygradle.JRubyPrepare due to missing dependency org/gradle/api/internal/DynamicObject`

[2017-05-17 10:45] hiroyuki-sato opened #296 "Dead link http://jruby-gradle.org/#running-some-ruby"
Hello, team.

I found a dead link.

http://jruby-gradle.org/#running-some-ruby

print-script.rb (full source)

full source link is wrong.

Wrong
https://github.com/jruby-gradle/jruby-gradle-plugin/blob/master/examples/run-simple-ruby-script/print-script

Right
https://github.com/jruby-gradle/jruby-gradle-plugin/blob/master/examples/run-simple-ruby-script/print-script.rb

Best regards.

[2017-06-29 23:15] EarthCitizen commented on #295
@ysb33r Any chance of this happening?

[2017-06-30 09:02] ysb33r commented on #295
@rtyler Any chance you can do a release?

[2017-08-07 10:22] joankaradimov opened #297 "lasagna.io is down"
It's been down for a couple of days now. And with it all gem dependencies fail.

I resolved it by adding this to my build.gradle:
[code]

But when lasagna.io is back (assuming it will be back), why not put both `http://rubygems.lasagna.io/proxy/maven/releases` and `http://rubygems-proxy.torquebox.org/releases` in the repositories so that there is a fallback.

[2017-08-07 13:40] mkristian commented on #297
@rtyler any inside about the lasagna.io ? what you think about he the second repo ?

@ysb33r what implication does a second repo will have - first one wins or are both used all the time ?

[2017-08-07 13:56] joankaradimov commented on #297
There's a short description of the behavior [here](https://docs.gradle.org/current/userguide/artifact_dependencies_tutorial.html#sec:repositories_tutorial)

It's near the end of the section:

[2017-08-07 14:28] ysb33r commented on #297
@mkristian As @joankaradimov has said.

[2017-08-07 19:00] rtyler commented on #297
Looks like Namecheap didn't save some CNAME records correctly when I updated them last week. That has now been resolved and we're waiting for DNS to propagate.

[2017-08-07 19:00] #297 closed

[2017-08-15 04:04] #296 closed

[2017-08-15 19:46] #295 closed

[2017-08-16 17:41] ayqazi opened #302 "Cannot use third-party rubygems repositories whose URLs include HTTP basic auth"
If a Rubygems repository has basic auth information in it (i.e. https://yourusername:password@example.com ) then the built-in gem proxy fails to be able to download anything from it.

[Example stacktrace at this gist](https://gist.github.com/ayqazi/74df54a8d3ff2ea86095aa608ffcf051)

[2017-08-16 23:17] rtyler commented on #302
@raelik did some digging and found [what looks like a missing `else` statement](https://github.com/sonatype/nexus-public/blob/nexus-2.x/plugins/rubygem/nexus-ruby-tools/src/main/java/org/sonatype/nexus/ruby/layout/SimpleStorage.java#L178-L181).

There is probably a bug lying somewhere around in rubygems-servlets, we might need @mkristian's help

[2017-08-20 15:58] mkristian commented on #302
I am currently more offline then online being in Ladakh/India - will attend
to this bug on rubygems-servlets.

[2017-08-27 02:56] dillongilmore opened #304 "jrubyExec rubygems not installing all sub-dependencies"
I feel like what I'm doing here has to be extremely basic and I'm just missing something simple. The tl;dr of what I'm doing is the Ruby toolchain is difficult to work with so I want to generate a state site with Jekyll using Gradle instead of the standard MRI way. Here is my `build.gradle`.

    buildscript {
        repositories {
            jcenter()
        }
        dependencies {

[2017-08-27 04:19] mkristian commented on #304
putting the jekyll dependencies in Gemfile
[code]
then I get
[code]

which is exactly what jruby-gradle is downloading comparing it to your list.

anything in any Gemfiles is not part of the transitive dependencies of any gem and will not be downloaded by gradle or maven or bundler. so any missing gems you need to add manually to your list of dependencies.

hope I did not miss something here.

[2017-08-31 00:25] hiroyuki-sato commented on #297
Hello, @rtyler  @joankaradimov

Does `rubygems.lasagna.io` still down?

[code]

[code]

[2017-09-01 18:08] rtyler commented on #297
@hiroyuki-sato sorry about the service issues, the rubygems-servlets proxy I operate keeps leaking memory which is quite frustrating!

Newer releases of jruby-gradle rely on both the torquebox and lasagna.io proxies FWIW

[2017-09-05 04:37] hiroyuki-sato commented on #297
@rtyler Thank you for the reply.
Today I succeed to access rubygems.lasagna.io.
Thank you again.

[2017-09-10 18:46] abelsromero opened #305 "`Content is not allowed in prolog` while installing a gem from local Maven repo (jruby-gradle.base)"
Hi,

Installation of a gem from a local maven repo fails with the message `Content is not allowed in prolog` in the new `Trusty` images of TravisCI.
I have tested many things an I am out of ideas, any help will be appreciated.

At the end of Asciidoctorj build script for Travis we test the code against the upstream Asciidoctor gem from master branch. This is done with this script https://github.co

[2017-09-10 18:58] abelsromero commented on #305
![error_jruby](https://user-images.githubusercontent.com/5781153/30251975-b9ec86b6-966a-11e7-90fe-34943cfefa59.PNG)

[2017-09-12 09:27] markus-meisterernst opened #306 "http://rubygems.lasagna.io is currently not available"
Hi,

I tried to build HTML Pages with Asciidoctor in my gradle build.
It accessess http://rubygems.lasagna.io, which is currently not available.

relevant build.gradle excerpts:

plugins {
    id 'org.asciidoctor.convert' version '1.5.3'
    // we need this plugin to add ruby gems
    id 'com.github.jruby-gradle.base' version '1.3.0'
 }

...
allprojects {
    apply plugin: 'java'
    apply plugin:

[2017-09-12 09:55] ysb33r commented on #306
Upgrade to latest version version of tbe base plugin. It has a fallback for Torquebox.

Sent from my Samsung device

-------- Original message --------
From: Markus Meisterernst <notifications@github.com>
Date: 12/09/2017  14:57  (GMT+05:30)
To: jruby-gradle/jruby-gradle-plugin <jruby-gradle-plugin@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [jruby-gradle/jruby-grad

[2017-09-12 11:52] markus-meisterernst commented on #306
Thank you very much, upgrading to version 1.5.0 resolved the issue.

[2017-09-12 11:52] #306 closed

[2017-09-26 19:33] amiracam opened #307 "jrubyJar task failing on missing dependency to Apache zip"
3:25:30 PM: Executing task 'jrubyJar'...

:prepareJRubyJar UP-TO-DATE
:jrubyJar FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':jrubyJar'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

BUILD FAILED

Total time: 0.238 secs
org/apache/tools/zip/ZipOutputStream
3:25:30 PM: Task e

[2017-09-26 20:10] ysb33r commented on #307
Which version of Gradle & JDK?

Sent from my Samsung device

-------- Original message --------
From: amiracam <notifications@github.com>
Date: 26/09/2017  21:33  (GMT+01:00)
To: jruby-gradle/jruby-gradle-plugin <jruby-gradle-plugin@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [jruby-gradle/jruby-gradle-plugin] jrubyJar task failing on missing
  dependency to Apache

[2017-09-26 20:18] amiracam commented on #307
Gradle 4.2 , Jdk 8.121 , 131

On Tue, Sep 26, 2017 at 4:10 PM Schalk W. Cronjé <notifications@github.com>
wrote:

--
Charles A. Monteiro
www.monteirosfusion.com
sent from the road

[2017-09-27 09:31] amiracam opened #308 "gradleTest fails : rubygems.lasagna.io refused"
5:28:15 AM: Executing task 'gradleTest'...

:buildSrc:compileJava UP-TO-DATE
:buildSrc:compileGroovy UP-TO-DATE
:buildSrc:processResources UP-TO-DATE
:buildSrc:classes UP-TO-DATE
:buildSrc:jar UP-TO-DATE
:buildSrc:assemble UP-TO-DATE
:buildSrc:compileTestJava UP-TO-DATE
:buildSrc:compileTestGroovy UP-TO-DATE
:buildSrc:processTestResources UP-TO-DATE
:buildSrc:testClasses UP-TO-DATE
:buildSrc:test

[2017-09-27 10:20] ysb33r commented on #308
Mmm... we still have the lasagne.io issue. I'll have a quick look at the test code.

[2017-09-27 14:23] amiracam commented on #308
I ran your example and as is i.e. pointing to 1.5.0 works, my main problem is that the jruby gradle plugin does not play nice with IDEA or vice versa something I brought up at least on the Gitter channel sometime ago, this morning I'm going to try a strategy where I turn off IDEA gradle integration , will have to use bundler for gem loading since that's required for IDEA's intellisense and debuggi

[2017-09-27 15:22] rtyler commented on #308
Looks like on the server side there was a new and exciting failure mode. The docker daemon which runs that proxy decided to stop servicing *all* requests, while still _appearing_ to run normally.

[2017-09-27 15:24] rtyler commented on #308
rubygems.lasagna.io is back up again. :man_facepalming:

[2017-09-27 15:24] #308 closed

[2017-09-27 15:26] amiracam commented on #308
I got another lasagna error which is making me hungry :) , too close to lunch, this time I added the gem sequel but without any version id and got the error stack below. I think I have asked this before but isn't there a way of asking jrubyJars to look to another gemset / jar location  , local preferred since I may have had the gems and jars retrieved by the time I actually need the shadow fat jar

[2017-09-27 15:29] amiracam commented on #308
just tried it again , did not get the connection refused error but still no cigar, perhaps I have to fully specify the sequel version id ?

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':prepareJRubyJar'.

     Required by:
         project :

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log outp

[2017-09-27 15:32] amiracam commented on #308
yep, that was it , need a version id

[2017-09-27 16:02] amiracam opened #310 "task for copying only jars"
I have used the following:

task copyRuntimeLibs(type: Copy) {
    into "lib"
    from configurations.jrubyJar
}

which grabs both jars and gems. hoping for a way of specifying what file type I want or at least rejecting gem files but  my gradle is weak

[2017-09-27 16:05] ysb33r commented on #310
Use exclude ANT patterns. Something like this.

[code]

Alternatively use an ANT include pattern (you can combine both excludes and includes).

[code]

[2017-09-27 16:12] amiracam commented on #310
yes, thanks, I should have worked harder for this before bothering, I did this:

exclude "*.gem"

[2017-09-27 17:14] amiracam commented on #307
this happens  if one uses the latest version of jengelman shadow plugin , this works tho:

classpath "com.github.jengelman.gradle.plugins:shadow:[1.2.2,2.0)"

[2017-09-27 20:28] ysb33r commented on #287
This will be fixe din the 1.6.0 release.

[2017-09-27 20:30] ysb33r commented on #282
I am not going to touch this until 1.6.0 is out. (BTW there are some issues in the Asciidoctor plugin itself realted to the daemon, so that will need to be dealt with as well).

[2017-09-27 21:06] rtyler commented on #262
Honestly, manually keeping a changelog is too tedious for me :smile:

I do try to keep track of things in [milestones](https://github.com/jruby-gradle/jruby-gradle-plugin/milestones?state=closed)

[2017-09-27 21:06] #262 closed

[2017-09-29 10:28] amiracam opened #312 "how to pull passed in gem strings"
forgive my gradle newbieness, been walking thru the code but just could not figure out how to do the following

given:

jrubyJar "rubygems:colorize:0.7.7+"
    jrubyJar "rubygems:sequel:5.0.0"
    jrubyJar "rubygems:redis:4.0.0"
    jrubyJar 'org.slf4j:slf4j-simple:1.7.25'
    jrubyJar 'io.ratpack:ratpack-base:1.5.0'
    jrubyJar 'io.ratpack:ratpack-core:1.5.0'
    jrubyJar 'io.ratpack:ratpack-exe

[2017-09-29 14:25] ysb33r commented on #312
Not sure what you want to achieve? Do you actually want to build a JRUby-based jar or do you want to run a Ruby script where the passed parameters are from a specfic configuration of dependencies?

[2017-09-30 11:13] amiracam commented on #312
the latter, but I do count on prepareJrubyJar to run which is why I have a dependsOn to it, I basically have hacked a tenable integration with Intellij IDEA, which for now relies on the prepareJrubyJar task running after which I currently scan the build directories for the jars and gems and based on that I generate a .idea/libraries/<my lib>.xml file with the respective jar l.ocal path, I also gen

[2017-10-01 18:37] ysb33r commented on #312
You are on the right track now. I was going to suggest to you to learn about configurations, but I see you have discovered enough to get you going.

[2017-10-02 09:55] amiracam commented on #312
yes, I probably should spend more time learning Gradle :) just swamped with building product

[2017-10-02 10:21] amiracam opened #313 "adding local jar dependencies"
what if we wanted to include a "local" jar ? i.e. jars we had internally created or from external parties which do not provide Maven coordinates but rather just a download ?

I noticed that JRubyPrepare.groovy has the following code snippet:

so I tried this:

dependencies {
    '/Users/charles/IdeaProjects/JrubyGradleTest5/local_jars/ojdbc6-11.2.0.3.jar'
}

figured an absolute path would make for

[2017-10-02 11:06] ysb33r commented on #313
You can create an additional configuration, add the JARs to that using `files`, then use an additional `from` in the jrubyJar config.

Sent from my Samsung device

-------- Original message --------
From: amiracam <notifications@github.com>
Date: 02/10/2017  12:21  (GMT+01:00)
To: jruby-gradle/jruby-gradle-plugin <jruby-gradle-plugin@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.co

[2017-10-02 11:11] amiracam opened #314 "capturing all source"
I have a directory structure as such

src
   -- entrypoint.rb
   -- db
          -- db_manager.rb

and of course I could have multiple directories under src as well other source files

I would like to capture all of my source not just the entrypoint.rb i.e. the initScript, ideally I would like to precompile my ruby such as one can with Warbler , I could not find any references in the docs.

I then

[2017-10-03 11:11] amiracam commented on #313
well what I did was to add the apply the java plugin , setup a repository with flatDir and then setup up the jrubyJar task

so:

apply plugin: 'java'
repositories {
    flatDir {
        dirs 'local_jars'
    }
}

dependencies {
    compile name: 'ojdbc6-11.2.0.3'
}

jrubyJar {
    /* We want to use this Ruby script as our start point when the jar executes
     */
    jrubyVersion '9.1.13.0'
    i

[2017-10-03 13:09] ysb33r commented on #313
I meant do something like this:

[code]

[2017-10-03 14:13] amiracam commented on #313
yes, I actually had tried something similar :) which did not work, I say this as I'm eating my breakfast yogurt watching a video on Gradle from safari online :) , thanks for the help, I'll play around, btw, I would have thought that you all would have tried to provide similar features to Warbler i.e. order to become their replacement

[2017-10-03 15:09] ysb33r commented on #313
That is generally the idea. @rtyler has more experience in the Warbler area.

Of course, we only add feastures as use-cases are discovered and we have time.

[2017-10-12 09:55] ghost opened #315 "JDK 9 compatibility"
If I try to use plugin on JDK 9 then I get an exception:
[code]
[code]

Are the any plans to add JDK 9 compatibility?

[2017-10-12 10:21] mkristian commented on #315
first we need to have jruby version which can be run with jdk9. there are plans that jruby-9.1.x will get an update which works with jdk9 and the coming jruby-9.2.x will all be jdk9 compatible.

[2017-10-27 10:54] Bablzz commented on #279
Hello!
add in your test file path like
require './lib/Lib'
if your test file is in test/test_lib.rb

[2017-10-31 07:03] mkristian commented on #302
FYI I applied the suggested patch with: https://github.com/torquebox/mavengem/commit/60a5fd39e09c50c9bc2364a8d9524f52f0c30bda

note that the rubygems-tools did move to torquebox/mavengem and once this is green on travis I am going to release it which allows a new release of rubygem-servlets. might need help to verify the patch on gradle.

[2017-11-02 09:29] facewindu opened #316 "Fails to resolve dependencies using Gradle 4.3"
Using Gradle 4.3, we cannot resolve rubygems with jruby-gradle-plugin 1.5.0

[code]

See attached reproduction project
[jruby-test.zip](https://github.com/jruby-gradle/jruby-gradle-plugin/files/1437130/jruby-test.zip)

Execute `./gradlew jrubyPrepare` to see the above error.
Switching the wrapper back to 4.2.1 works: `./gradlew wrapper --gradle-version 4.2.1; ./gradlew jrubyPrepare`

[2017-11-07 09:45] boris-petrov commented on #316
@rtyler, @ysb33r - this is kind of urgent - we cannot update to Gradle 4.3 because of that. Do you have any ideas what might the problem be?

[2017-11-07 09:54] ysb33r commented on #316
I'll look at it later this week when I have spare time.

[2017-11-07 09:59] amiracam commented on #307
so I inquired with John Engelman about this issue and this is what he said:

https://github.com/johnrengelman/shadow/issues/328#event-1328914844

the gist is that you all are compiling against the internal shadow classes but pls check it out I may have dropped something in translation , thanks

[2017-11-07 15:28] rtyler commented on #316
I understand the frustration, but please keep in mind that nobody around here is paid to work on JRuby/Gradle. :smile:

[2017-11-07 15:52] boris-petrov commented on #316
Absolutely, I didn't mean any offence. :) Sorry if I sounded harsh. Just wanted to get your attention on this. Hopefully you can resolve it. :) Thanks for the hard work on this plugin, it's irreplaceable for us. :)

[2017-11-07 16:08] ysb33r commented on #316
@boris-petrov Any chance you can run Gradle with `--debug` and dump the log for me?

[2017-11-07 17:39] ysb33r commented on #316
@boris-petrov @facewindu Try this as a workaround for the time being

[code]

I believe the issue is caused by the breaking change introduced in Gradle 4.3: https://docs.gradle.org/current/release-notes.html#avoid-checking-other-repositories-when-dependency-resolution-in-one-repository-fails

[2017-11-07 22:15] ysb33r commented on #316
I just tried a SNAPSHOT version of Gradle 4.3.1 and I can confirm that it solves the problem. I am not going to fix this for now. I suggest you stick with 4.2.1 and wait until 4.3.1 is released.

[2017-11-08 06:25] boris-petrov commented on #316
@ysb33r - thanks a bunch for the research! We'll be waiting for a fix from Gradle then. You don't need the `--debug` log any more, I guess?

[2017-11-08 09:03] ysb33r commented on #316
@boris-petrov No, not needed.

As a side-note  managed to reproduce the problem within the base plugin's build by just adding

[code]

[2017-11-08 09:03] #316 closed

[2017-11-08 09:26] facewindu commented on #316
Gradle 4.3.1 has just been released.

[2017-11-15 19:11] rtyler commented on #315
#318 upgrades to a Java 9 friendly JRuby

[2017-11-28 17:24] rtyler opened #319 "Remove support for JRuby 1.7.x"
Per discussion with @mkristian in Gitter. 1.7 is end of lifed and our limited bandwidth for JRuby/Gradle makes it no longer worth supporting.

- [x] Ensure removal coincides with a major version change for the plugin suite.
- [x] Update README to mention.
- [ ] Update docs to mention it as well.
- [ ] Check that minimum JDK version matches at least the minimum that is required for JRuby 9k,

[2017-11-28 17:26] ysb33r commented on #319
I updated your descirption and added 4 TODOs.

[2017-11-28 17:28] rtyler commented on #319
@ysb33r do you think I should just call 1.6.0 a "2.0" across the board instead?

[2017-11-28 17:30] ysb33r commented on #319
Let's go for 1.6.0 as we are not actually making major changes to the DSL itself.

[2017-11-29 19:51] rtyler commented on #287
Going to mark this as closed since we have the code merged already

[2017-11-29 19:51] #287 closed

[2017-11-29 19:52] rtyler commented on #254
@mkristian has the latest releases of the nexus-tools libnraries included this patch making this ticket moot?

[2017-11-29 19:53] rtyler commented on #270
This is "fixed" by #319 😄

[2017-11-29 19:53] #270 closed

[2017-11-29 20:03] #279 closed

[2017-11-30 07:15] #254 closed

[2018-01-03 18:30] dmolesUC3 commented on #315
Is there any way to force 9.1.14.0 under 1.5.0 while waiting for the 1.6.0 release?

[2018-01-03 18:35] rtyler commented on #315
[code]

IIRC

[2018-01-03 18:39] dmolesUC3 commented on #315
Thanks. Doesn't look like it fixes the problem I was having, unfortunately, but I'll file a separate issue.

[2018-01-03 18:47] dmolesUC3 opened #323 "OpenSSL::X509::StoreError for repositories { rubygems() } under JDK 11"
I had this project working with a manually installed gem, but when I try to use the rubygems Maven bridge, I get `OpenSSL::X509::StoreError: setting default path failed: No password supplied for PKCS#12 KeyStore.`

The full stack trace is pretty long (it's in a [gist here](https://gist.github.com/dmolesUC3/d344c7cb7c8dc0a6aa58371adb960b54)) but here's the first few lines:

[code]

## Build script

[2018-01-20 07:55] EarthCitizen opened #324 "1.5.0 Has CVE Vulnerabilities Due to JRuby Version"
Will this be fixed in 1.6.0?

[2018-01-20 15:46] mkristian commented on #324
@EarthCitizen not sure who is still using jruby-1.6.5.1 not even sure if this works together with this jruby-gradle-plugin.

[2018-01-22 08:07] EarthCitizen commented on #324
@mkristian Sonar reported this in a way that it looked as though it was getting pulled in as a dependency. But looking at the code now, I see that it adds JRuby to the project that the plugin is applied to.

[2018-03-10 16:14] xlijun opened #325 "jrubyPrepare fails to resolve dependencies like 1.5.0.alpha.8"
Backgroud:
I am trying to requires asciidoctor-pdf-cjk-kai_gen_gothic into asciidoc gradle plugin.

Error Message (from jrubyPrepare):
Could not find any matches for rubygems:asciidoctor-pdf:[1.5.0.alpha.8-SNAPSHOT,1.5.99999] as no versions of rubygems:asciidoctor-pdf are available.

Configuration:
[code]
It seems like the version resolution algorithm used by jrubyPrepare is not fully compatible w

[2018-03-12 07:45] mkristian commented on #325
@smartg00se you are right the gradle version resolution or the underlying mapping from rubygems to maven is not 100% compatible. for example it will not pick prereleased versions of gems from a range of versions, otherwise we would default to `--prerelease` install gems which is rarely what you want.

the maven repository excludes these prerelease version from the version range BUT they can be che

[2018-03-12 14:25] smartg00se commented on #325
I've tried to cherrypick `rubygems asciidoctor-pdf 1.5.0.alpha.8`, however the resolution also fails with the same exception above. It seems 1.5.0.alpha.8 is not treated as in the range [1.5.0.alpha.8-SNAPSHOT,1.5.99999].

[2018-04-05 19:08] ARnikev opened #326 ":jrubyPrepare fails with NPE after migration to spring-boot 2"
Hi!
I'm developing service using spring boot and asciidoctor-gradle-plugin + jruby-gradle-plugin for my project docs generation. After migration of my project from spring boot 1.5.6.RELEASE to 2.0.0.RELEASE version i've run into a problem that my build fails executing 'jrubyPrepare' task with following error:

`Execution failed for task ":jrubyPrepare".
 Could not resolve all files for configurati

[2018-04-16 12:51] lavcraft commented on #326
Similar problem with `jruby prepare`

[2018-04-30 01:35] behrangs-sportsbet commented on #326
Here I have uploaded a sample run with `--debug` and `--stacktrace` enabled: https://gist.github.com/behrangs-sportsbet/713f59abc886968d536eff901858a390

[2018-05-17 09:11] toedter commented on #326
I had the same behavior with Spring Boot 2.0.1 but with 2.0.2 it seems to work.

[2018-05-23 09:14] lavcraft commented on #326
Related issue in spring boot 2 gradle plugin https://github.com/spring-projects/spring-boot/issues/12897

This a Gradle bug. SP2 Gradle plugin trigger this bug. In 2.0.2.RELEASE Spring Team fix this, but for gradle 4.7 bug still reproduce..

[2018-07-26 20:31] boris-petrov opened #328 "Cannot install RuboCop 0.58.{1,2}"
In [this](https://github.com/rubocop-hq/rubocop/commit/e41a2d5bd5b33cba1219e0f798397fac9b8fe543) commit, RuboCop added a filter on the `parser` dependency version. Then they released 0.58.1. Now they've released 0.58.2 and I cannot update to either version. The error that I'm getting is:

[code]

Original issue was in [JRuby](https://github.com/jruby/jruby/issues/5260). They told me to post here.

[2018-07-30 14:01] piersf opened #329 "Unable to load Maven meta-data from http://rubygems.lasagna.io/proxy/maven/releases/rubygems/rspec/maven-metadata.xml"
Hello there,

My apologies if this is not the right place for this issue.
Our gradle project tries to download rubygems from http://rubygems.lasagna.io/proxy/maven/releases/rubygems/rspec/maven-metadata.xml

The piece of code in the `build.gradle` file is:

[code]

But since last week, this is now failing with the below errors:

[code]

It seems that [http://rubygems.lasagna.io/proxy/maven/release

[2018-07-30 17:31] mkristian commented on #329
@rtyler could you look into this ?

[2018-07-30 18:08] rtyler commented on #329
Ahck, right, I let that domain lapse. I forgot that anything was actually running there. Whoops!

It's a bit slower, but you may be able to use [the built-in Gem proxy](http://jruby-gradle.org/base/#using-the-built-in-gem-proxy) which @mkristian added a couple years ago.

[2018-07-31 07:14] piersf commented on #329
Hi @mkristian, @rtyler ,

Thank you for your replies!

Looking at the link you pasted, i did some changes to the `build.gradle` file, but it does not seem to work and I'm doing something wrong. Now the file looks like:

[code]

When i then execute the build, it fails with the below error:

[code]

What am i doing wrong or missing here? I'm not specifying anywhere a version of JRubyExec which it co

[2018-07-31 12:33] mkristian commented on #329
@piersf we are still missing jdk9/jdk10 support - well it got stuck half way. we will have a look get this done. not sure about this JAVA_HOME problem and jdk8 - looks different.

[2018-07-31 12:36] mkristian commented on #328
@boris-petrov right this line is https://github.com/rubocop-hq/rubocop/commit/e41a2d5bd5b33cba1219e0f798397fac9b8fe543#diff-458bc38d82061cdac508dfb1be2b918bR39 is indeed the problem.

[2018-07-31 12:39] piersf commented on #329
@mkristian would it be possible to bring **rubygems.lasagna.io** back up? We're currently blocked and the solution you suggested in the provided link [the built-in Gem proxy](http://jruby-gradle.org/base/#using-the-built-in-gem-proxy) does not seem to solve the issue (before changing the JAVA_HOME).

Thanks,

[2018-07-31 13:00] mkristian commented on #329
@piersf please use http://rubygems-proxy.torquebox.org/releases instead. we are working on getting rid of any such proxy in the future.

[2018-07-31 17:09] piersf commented on #329
@mkristian that worked. Thank you so much!
One last question - should we expect in the future that http://rubygems-proxy.torquebox.org/releases also goes down at some point?

For anyone else running into this issue, this is how my `build.gradle` file ended up looking like:

[code]

Thanks,

[2018-07-31 20:25] boris-petrov commented on #328
@mkristian - do you mean that this is some unsupported "syntax" that RuboCop is using or this is a bug in the parsing of version ranges by JRuby Gradle?

[2018-08-01 06:50] mkristian commented on #329
@piersf this one is maintained and used by torquebox. their build needs it but newer maven plugin/extensions do not need it. this server had some outages in the past so the lasagna server come into existing. so expect this server to be around for the time being as it was around for the many years now.

[2018-08-01 07:04] mkristian commented on #328
no actually it is a bug in https://github.com/torquebox/maven-tools which is used by the gem-proxy server which 'translates' the rubygems.org into a maven repository.

@boris-petrov so you could try and add something like `gems 'rubygems:parser:2.5.1.2+'`

as the fix will take its time to reach the proxy-server code we need to deal with this 'broken version' on jruby gradle as well by just deletin

[2018-08-01 08:46] boris-petrov commented on #328
@mkristian - adding `rubygems:parser:2.5.1.2+` as an explicit dependency worked and RuboCop 0.58.2 is installed and works correctly. Thanks for that!

I'll leave you to decide whether to close the issue and open a new one somewhere else or leave it here. If you do the former, please link it to this one so I can subscribe to it to follow the progress.

Thanks again!

[2018-08-12 18:11] mkristian commented on #329
this is not fixed but we do not support the lasagne server anymore - see also 3684c406b91e52d71375c2b881cc92f9b7bc0006

need to use torquebox proxy.

closing.

[2018-08-12 18:11] #329 closed

[2018-08-13 09:35] #328 closed

[2018-08-27 20:54] wdschei opened #333 "Issue using the ascii_binder gem with jruby-gradle-plugin."
I have created a [Short, Self Contained, Correct (Compilable) Example](http://sscce.org/) or [Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve) project for working through the issues of using the `ascii_binder` gem with the `jruby-gradle-plugin` which can be found at https://github.com/wdschei/gradleAsciiBinder/.

Basically I'm getting the following when I try to use

[2018-09-03 06:03] mkristian commented on #333
`yajl-ruby` is a gem with native extension which can not be used with jruby. sometimes there are pure ruby or jruby alternatives of some gems - not always.

[2018-09-03 20:40] dtrunk90 opened #337 "jrubyPrepare fails with sass gem: NullPointerException"
Gradle build file:
[code]

Console output:
[code]

[2018-09-03 20:52] ysb33r commented on #337
I'll have a look at it tomorrow. 

Sent from my Samsung device

-------- Original message --------
From: Danny Trunk <notifications@github.com>
Date: 03/09/2018  22:40  (GMT+01:00)
To: jruby-gradle/jruby-gradle-plugin <jruby-gradle-plugin@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [jruby-gradle/jruby-gradle-plugin] jrubyPrepare fails with sass gem:
  NullPointerExc

[2018-09-03 20:55] dtrunk90 commented on #337
The error was an exclude in my build gradle file:
[code]

Commenting it out resolved my issue.

[2018-09-03 20:55] #337 closed

[2018-09-04 18:09] apalopta commented on #302
Me too, I'd like to have a solution for this bug.
I have to download from Nexus with credentials, which is not possible :-(

I need it for AscidoctorJ for revealjs backend in a Gradle environment.

[2018-09-04 19:54] ysb33r commented on #302
@apalopta FYI The 2.0-alpha.4 release of the Asciidoctor Gradle plugin will have support directly for Reveal.js.

[2018-09-04 20:04] apalopta commented on #302
I'm looking forward to it :-)

[2018-09-05 13:46] wdschei commented on #333
@mkristian Thanks for the clarification on this.

[2018-09-05 13:46] #333 closed

[2018-09-28 19:16] dgolombek opened #338 "jar-dependencies pin from jruby-gradle-jar-plugin is very out of date"
AFAICT, the pin of jar-dependencies in jruby-gradle-jar-plugin to 0.1.15 is escaping that plugin, and I've been unable to override it.

I have:

[code]

`./gradlew dependencies` shows:

Obviously the easy solution is to remove the pin, BUT I think it'll also require updating jruby-gradle-storm-plugin, which doesn't seem to be compatible with jruby-gradle-plugin >= 1.2. I can submit a separate bug

[2018-10-01 18:32] dgolombek commented on #338
Sorry, I badly misdiagnosed this at first. The problem is that setting the JRubyJar jruby version via
a call such as assembleJRubyStorm { jrubyVersion '9.1.17.0' } (which invokes
https://github.com/jruby-gradle/jruby-gradle-plugin/blob/release-1.1.x/jruby-gradle-jar-plugin/src/main/groovy/com/github/jrubygradle/jar/JRubyJar.groovy#L54-L58) calls addEmbeddedDependencies, which adds in the jar-depen

[2018-10-01 19:40] rtyler commented on #338
From my understanding based on discussions years ago with @mkristian , I didn't believe that jar-dependencies was necessary in the JRuby 9.x release line because some fixes were actually upstreamed.

[2018-10-02 01:35] dgolombek commented on #338
Hmmm, my understanding was that jar-dependencies was generally being displaced by warbler, rather than not being needed anymore. JRuby 9k in fact still embeds jar-dependencies into jruby-complete, although I can't say that's by intent rather than being left behind. This version mismatch was one of several I was running into.

In any case, I know this project isn't a top priority, and we're slowly

[2018-10-02 15:38] mkristian commented on #338
my 2 cents: jar-dependencies is a default in JRuby and will be for the time being. so you will have it with jruby-complete and jruby-stdlib. not sure if jruby-gradle plugin needs to add this explicitly with jruby-9k, for old jruby-1.7.x this is needed. not sure, need to look into jruby-gradle code to see. but any 'installed' jar-dependencies will be activated by rubygems if installed overriding th

[2019-02-04 21:06] jacaetevha commented on #314
Any comment here? I've got the same question. I have files in `src/main/ruby` and `src/main/resources` that I want to include in the resulting JAR file, but I want them to be included at the root of the JAR, not in one of the included directories (e.g. `jars`, `bin`).

[2019-02-04 21:49] jacaetevha commented on #314
I just implemented this as a post-build step:

[code]

[2019-04-27 19:03] boris-petrov opened #341 "Cannot install latest "selenium-webdriver" gem"
Original issue was in the [jruby repo](https://github.com/jruby/jruby/issues/5708).

This is a simple [reproduction](https://github.com/jruby/jruby/issues/5708#issuecomment-486831646).

[2019-04-27 19:33] rtyler commented on #341
Thanks @boris-petrov.

I've been doing some testing locally with this, and it seems like the mkrf_conf.rb from the childprocess gem runs _fine_ just by itself. But then there's another subprocess being run:

[code]

It's not clear at all where the second command is coming from, still digging.
The second command

[2019-04-27 20:07] rtyler commented on #341
This is definitely something weird with the `childprocess` gem. My current hunch is that the fact that it's native extension writes out a `Rakefile` is causing some machinery to try to run Rake invocation _somewhere_ before completing the gem installation process.

[code]

[code]

[2019-04-27 20:40] rtyler commented on #341
I cannot for the life of me figure out where this `jrake` invocation is _actually_ coming from.

[2019-04-27 20:41] rtyler commented on #341
@boris-petrov I will note that the gems are installed properly, nothing is failing. So if you ignore that failure on the gem installation, everything else should work just fine in the JRuby/Gradle environment

[2019-04-27 21:12] rtyler commented on #341
I have found [where this code is coming from](https://github.com/rubygems/rubygems/blob/master/lib/rubygems/ext/rake_builder.rb).

In a `jruby-complete` environment, the `Gem.bin_path('rake', 'rake')` line throws an exception, and then the rescue block runs, using `Gem.default_exec_format` which is `j%s` in this environment.

So basically it looks like the problem is that `childprocess` has a `run

[2019-04-27 21:31] rtyler commented on #341
We do set `GEM_HOME` and `GEM_PATH` in the right place in `GemUtils.groovy` to pick up the `rake` executable, but because we're optimizing for a single invocation:

[code]

The `childprocess` gem gets installed before `rake`.

I think the dumb/simple solution would be to invoke `gem install` for each gem independently. The smart/hard solution would be to intelligently order the list of `.gem` file

[2019-04-27 21:40] rtyler commented on #341
:oncoming_police_car:  CLEVER IDEA :oncoming_police_car:

Gradle will represent this dependency tree:

[code]

when converted to a `FileCollection` as this array:

[code]

So it _appears_ that if we simply reverse the order, we'll install the deepest dependencies in the tree first. :tada:

[2019-04-27 22:49] rtyler commented on #324
This does not look to be a valid issue for the currently released version of JRuby/Gradle

[2019-04-27 22:49] #324 closed

[2019-04-27 22:53] rtyler commented on #323
I don't have a Mac or JDK9 to double check this, but it's definitely not broken on Linux with JDK8 :smile_cat:

[2019-04-27 23:06] rtyler commented on #315
I just tried the latest release with a Docker image of JDK11 and things appear to be working just fine.

[2019-04-27 23:06] #315 closed

[2019-04-27 23:25] rtyler commented on #304
I am not able to reproduce any issues here with the latest relaese

[2019-04-27 23:25] #304 closed

[2019-04-28 06:44] boris-petrov commented on #341
@rtyler - looks great, thank you for the great support! I'm looking forward to trying it out in a newly released version of `JRuby/Gradle`. :)

[2019-04-30 07:09] mkristian commented on #341
@rtyler cool finding. the 'trick' is actually the right thing to do to start with the deepest dependencies of the tree.

[2019-05-02 02:14] #341 closed

[2019-05-03 10:54] boris-petrov commented on #341
@rtyler - thank you very much for going deep into this and figuring it out! Can we expect a new version soon with that fix?

[2019-05-03 13:59] rtyler commented on #341
@boris-petrov Once I can figure out how what the test failures in #343 are, then I will create another release. I'm hopeful that we can get it out before next Monday

[2019-05-04 19:44] rtyler commented on #341
@boris-petrov 1.7.0 has now been released

[2019-05-05 04:36] rtyler commented on #338
I have added this to the 2.0 milestone.

I think the right behavior with 2.0 would be to rip out the remainder of the JRuby 1.7.x support and make JRuby/Gradle explicitly JRuby 9.x and later only.

[2019-05-05 04:37] rtyler opened #345 "Remove jar-dependencies code"
jar-dependencies comes in jruby-complete.jar, and we only had it being added to dependency graphs for JRuby 1.7 compatibility.

`JRubyJar.groovy` for example needs to have this removed.

[2019-05-05 04:41] rtyler commented on #326
I have reproduced this with our latest release, 1.7.0. Bummer! I'll see if I can figure out what the heck is going on here.

[2019-05-05 04:47] rtyler commented on #302
@apalopta @ayqazi would either of you be able to clarify whether this issue still exists?

[2019-05-05 04:55] rtyler commented on #288
This is definitely an annoying paper cut.

This is something I would like to try to fix towards 2.0. I think the issue relies on how we're mapping the output files for the task, but will have to dig a little deeper here.

[2019-05-05 05:17] rtyler commented on #326
Did the necessary digging in our code, and [while this is fixed with the 2.0.2 spring-boot plugin](https://github.com/gradle/gradle/issues/5121#issuecomment-388753838), the reason it affected `jrubyPrepare` is because something outside of our control was shoving things which were not `File` objects into the `gems` configuration.

When the `extractGems` code was iterating over the `FileCollection`

[2019-05-05 05:17] #326 closed

[2019-05-05 05:20] rtyler commented on #292
@boris-petrov since I fixed a bug for ya, would you mind creating a reproduction case for me to play with this issue too? :smile_cat:

[2019-05-05 05:27] rtyler commented on #323
Welp, looks like I was able to reproduce this in a Docker image running OpenJDK 11.0.3 (`openjdk:11-stretch`).

:hankey:

[2019-05-05 05:30] rtyler opened #346 "Fully support JDK11"
I had to revert the addition of `openjdk11` to the test matrix in Travis because of some test failures.

We'll need to address those soonish.

[2019-05-05 08:38] ayqazi commented on #302
I haven't used JRuby for years, sorry.

On Sun, 5 May 2019, 05:47 R. Tyler Croy, <notifications@github.com> wrote:

[2019-05-05 17:22] rtyler opened #349 "Switch to a Rubygems proxy which runs over TLS"
Right now we hit `http://rubygems-proxy.torquebox.org/releases`, which when accessed over HTTPs has an invalid certificate.

[2019-05-05 17:25] rtyler commented on #349
Looks like this is already an active request: https://github.com/torquebox/rubygems-servlets/issues/17

But I'm pinging @bbrowning nonetheless

[2019-05-05 18:08] ysb33r opened #350 "Cleanup Appveyor CI build"

[2019-05-05 18:10] ysb33r opened #351 "Cleanup CodeNarc rules"

[2019-05-05 18:10] rtyler commented on #65
I am going to close this, I don't have a reproduction case anymore. :man_shrugging:

[2019-05-05 18:10] #65 closed

[2019-05-05 18:11] rtyler commented on #60
@mojavelinux or @mcandre would this feature request still be interesting to either of you? I'm cleaning up the backlog, and I personally don't have a requirement for this any longer.

[2019-05-05 18:20] ysb33r commented on #319
I think we should consider going to 2.0 now as we are going to eventually make a bunch of DSL changes.

[2019-05-05 18:38] mojavelinux commented on #60
To be honest, I don't remember what the use case was. So I don't have an immediate need for it.

[2019-05-06 21:11] boris-petrov commented on #341
@rtyler - thanks for the great support!

[2019-05-06 21:15] boris-petrov commented on #292
@rtyler - sure thing, reproductions are my passion. :D

[code]

Run `gradle dependencyUpdates` and you'll see something along the lines of:

[code]

As you can see, it fails to find new versions for the `rspec` and the `rubocop` gems while there are such.

You can find a bit more information about the issue and the possible solution in the [original issue](https://github.com/ben-manes/gradle-versi

[2019-05-09 06:42] mkristian commented on #338
👍 for going jruby9 only

[2019-05-09 14:41] rtyler commented on #349
Related to this, I have also pinged the rubygems.org maintainers about upstreaming the maven functionality. Whether that's through rubygems-servlets, or by teaching the rubygems app how to emit XML

[2019-05-09 15:32] rtyler commented on #323
This is sort of reproducible in tests, although via a roundabout way.

 JRubyExecIntegrationSpec. Running rspec from a script should not cause a gemWorkDir failure

[code]

[2019-05-11 16:48] #319 closed

[2019-05-11 16:49] #338 closed

[2019-05-11 16:49] rtyler commented on #338
Removed for 2.x

[2019-05-11 16:58] rtyler commented on #323
This might be related to some upstream issues which is unfortunate:

See:

*  https://github.com/jruby/jruby/issues/5699

[2019-05-13 15:21] rtyler commented on #323
So it looks like JRuby 9.2.1.0 should be fine, and our tests reflect this.

I'm going to update our tests to make our "old" JRuby version that we test with, 9.2.1.0 and add some notes about JDK9+ support.

[2019-05-13 16:19] rtyler commented on #346
Working on some of this in #355

It looks like Gradle 4.x doesn't work well with JDK11, but [Gradle 5.x does](https://docs.gradle.org/5.0/release-notes.html#java-11-runtime-support)

[2019-05-13 17:28] rtyler commented on #323
@dmolesUC3 so this should be fixed with JRuby/Gradle 1.7.0 and later, which default to JRuby 9.2..7.0.

As of 2.0.0 we will stop supporting older versions of things, and start testing against JDK11 making sure issues like this do not come up.

[2019-05-13 17:28] #323 closed

[2019-05-13 23:13] #346 closed

[2019-05-19 00:43] rtyler opened #357 "jar-plugins tasks should be in the `jruby` group"
`jrubyJar` and `prepareJrubyJar` are both listed under the 'other' group for me, rather than 'jruby'

[2019-05-19 17:10] rtyler opened #358 "JRubyExec should support "watch" configuration"
I don't _think_ we can do this today with TaskInputs, but the option of `watch` on `JRubyExec` would be a great way to provide file or directory task inputs for a JRubyExec task.

For `rspec`, it might look something like this:

[code]

And the user would be able to use `./gradlew -t spec` to take advantage of Gradle's continuous building functionality.

[2019-05-19 20:40] ysb33r commented on #358
It should be possible as long as rspec is annotated `@InputFile`. Currently we do some other manipulations as the script file could actually be contained in the GEM and that is why it is not annotated as such.

[2019-05-19 20:49] rtyler commented on #358
@ysb33r the `script` is already annotated as an `@InputFile`, but that is not what will be changing during the development of tests. In a Rails application for example, file changes would be happening in `app/` and `spec/` directories, and when those directories have file changes, I would want the task to re-execute.

I believe it's just a question of plugging the right inputs into the underlying

[2019-05-19 21:09] ysb33r commented on #358
@rtyler that is not a really a  feature of the JRubyExec. It is very contextual to someone wanting to run Rails from a JRubyExec task. The simplest for someone would be to do `inputs.dirs 'app', 'spec'` in their build script.

However if the layout is very common, then we could add a helper method that automatically adds those directories to the inputs of the JRubyExec task i.e. 'dependsOnRails()`

[2019-05-19 21:15] rtyler commented on #358
@ysb33r I was describing the Rails scenario as an example. What I'm proposing is basically `inputs.dir` syntax sugar in the phrasing (`watch`) that is familiar to most Ruby developers.

[2019-05-19 21:20] ysb33r commented on #358
@rtyler Got ya. Makes sense now.

[2019-05-20 03:26] #307 closed

[2019-05-20 04:59] rtyler opened #359 "JRubyExec should support "jrubyArgs"`"
There are a number of JRuby specific options which cannot be specified with `JRubyExec` currently. The problem is that the arguments must be passed as such:

`java <jvmArgs> -jar jruby-complete.jar org.jruby.Main <jrubyArgs> -S <script> <scriptArgs>`

Simply augmenting `jvmArgs` is insufficient since the JVM doesn't know what the heck the valid arguments for JRuby may be.

This will help with sett

[2019-05-25 18:22] rtyler commented on #60
Just made a gist for an example in Gitter which kind of does this: https://gist.github.com/rtyler/7635e9c110548882504729ff7445ed0b

[2019-05-25 18:30] rtyler commented on #60
I think this might be straightforward enough to support. I'm going to bring it in to 2.0 like the over-optimistic sucker I am.

[2019-05-25 19:47] ysb33r commented on #60
I think this a great idea, but let's not rush an implementation. We can do a much better job than the quick gist you did.

[2019-05-25 22:12] #359 closed

[2019-05-26 01:21] rtyler commented on #60
@ysb33r Since you've certainly got an idea in mind for how this should be implemented, would you like to take it on?

If not, perhaps writing up a specification or something like that would help me understand what a good job might look like here to you

[2019-05-26 05:51] ysb33r commented on #60
This will have to be a joint effort as I'll need to understand more about how the ruby compilation is used in practice.

[2019-05-26 17:13] rtyler commented on #60
The two places I believe ahead-of-time compilation are used/useful for are:

1. Speeding things up at runtime, i.e. avoiding that step at runtime.
1. Blending Java and Ruby code together in a primarily Java project.

Neither of these are pressing requirements for me personally, but I understand why some people might find them useful :smile_cat:

[2019-05-28 14:30] #357 closed

[2019-05-28 14:31] rtyler commented on #345
Closing this, commits which remove it have already been merged and I just forgot to link them to this sticket.

[2019-05-28 14:31] #345 closed

[2019-05-28 14:38] rtyler commented on #305
@abelsromero since this ticket is pretty old, and trusty is now super old too, I am going to close this ticket out.

I haven't personally seen it anywhere else since

[2019-05-28 14:38] #305 closed

[2019-05-28 14:45] rtyler commented on #265
I don't know if this is the issue that @mkristian is referring to, but trying to use executable-hooks 1.6.0 with JRuby/Gradle 1.7.0 results in:

[code]

[2019-05-28 15:23] bbrowning commented on #349
The rubygems-proxy.torquebox.org server is unmaintained and has been that way for a few years. I'd strongly suggest anything referencing it point to something else.

[2019-05-30 19:14] ysb33r opened #364 "Investigate using a local lightweight proxy rather than Torquebox"
Investigate the possibility of using a lightweight local proxy inside Gradle  rather than Tortquebox or going through the maven-wagon protocol. The idea is that if succesfull, this should displace the following defects:

- #349

Consider doing the following:

- [x] Run a lightweight proxy server inside Gradle using Ratpack or Micronaut.
- [x] Cache lookups in Gradle cache.
- [x] Resolve metadata f

[2019-05-31 00:02] rtyler commented on #364
@ysb33r everything is checked here does that mean your experiments have been successful :joy_cat:

[2019-06-01 11:44] #351 closed

[2019-06-01 11:45] #350 closed

[2019-06-01 11:47] ysb33r opened #366 "Remodel JRubyPluginExtension to allow it to be used as a task extension"
This follows a pattern from a number of other plugins whereby a specific task can override settings from the global extension if required.

[2019-06-04 13:36] mkristian commented on #265
yes, this looks very much like it was before. in short ruby can not write into these direwctorieas as they are inside the jruby-complete.jar

[2019-06-04 14:28] ysb33r commented on #265
What is the pragmatic solution to this?

[2019-06-05 07:51] mkristian commented on #265
I fixed the problem once upstream and somehow it regressed. or never really got fixed.

big question if you really need to use this gem in a gradle setup - I doubt.

[2019-06-05 07:55] ysb33r opened #367 "GEM range overlaps are not calculated on border cases"
Gem resolving fails for border cases such as `~->1.4`
[code]

[2019-06-05 07:59] ysb33r opened #368 "Update license"
License still says 2014.

@rtyler If you can update LICENSE.md, then I'll add the license plugin and make sure the license is also propagated to the necessary source files.

[2019-06-06 14:00] ysb33r commented on #349
#364 takes care of this.

[2019-06-08 20:37] ysb33r opened #369 "Upgradle build to Gradle 5.4.1"
Ensure plugin is still compatible for 4.2+

[2019-06-09 08:53] ysb33r commented on #302
Once #365 is accepted, we are going to have to deal with this.. It will require:

- [ ] adding something to `ruby.gems` so that credentials are exposed.
- [ ] Passing credentials thtough to the proxy registry service
- [ ] Allow the current GEMs proxy side to use those credentials.

All of the above rely on the trust that the remote site also implements the same REST API as rubygems.org.

[2019-06-11 08:23] mkristian commented on #302
@ysb33r in https://github.com/jruby-gradle/jruby-gradle-plugin/issues/302#issuecomment-418465174 says @apalopta is using Nexus and Nexus just offers quick/Marshal.4.8 and api/v1/dependencies endpoints !

[2019-06-11 15:17] amiracam commented on #312
hi, its been a while, I had to drop my efforts back then and concentrate on Groovy, is the Jruby Gradle plugin now more tightly integrated with IDEA ? thanks

[2019-06-11 21:55] ysb33r commented on #312
Not so sure how integrated it is, but it is swiflty evolving into much better functionality.

[2019-06-11 22:03] ysb33r commented on #302
@mkristian :scream_cat: We'll have to do a 2nd set of functionality by the looks of it.

[2019-06-12 01:30] amiracam commented on #312
Ok, I’ll check it out again

Charles A. Monteiro
Chief Technology Officer
Web: www.tradeblazer.com
phone: 347-853-7349

On Jun 11, 2019, 5:55 PM -0400, Schalk W. Cronjé <notifications@github.com>, wrote:

[2019-06-12 23:16] ysb33r opened #370 "Parse requirements for JAR dependencies of GEMs"
As per https://github.com/jruby-gradle/jruby-gradle-plugin/pull/365#issuecomment-500370204

[2019-06-13 03:21] rtyler commented on #349
Closing this in favor of the work @ysb33r has been doing

[2019-06-13 03:21] #349 closed

[2019-06-13 03:24] #368 closed

[2019-06-13 08:03] ysb33r opened #371 "Add license plugin"
WIth #368 completed, adding the hieronymus license plugin will ensure that the copyright headers will remain consistent across all source files.

[2019-06-15 11:39] ysb33r opened #372 "Ensure RubyGems proxy works with Gradle 5.x dependency locking"
GEM & JAR dependencies resolved via the rubygems.org proxy should work with dependency locking as described in  file:///home/schalkc/Projects/jruby-gradle-dev/jruby-gradle-plugin/base-plugin/build/reports/tests/integrationTest/index.html

[2019-06-16 16:30] #370 closed

[2019-06-16 16:33] #364 closed

[2019-06-16 16:33] #366 closed

[2019-06-16 16:38] ysb33r opened #375 "Add support for GEM repository that only has RubyGEM V1 APIs"
Alluded to by @mkristian. Some repositories only handle the RubyGem V! API.

Will need to add:
- [ ] RepositoryHandlerExtension to take a configuration to indicate the protocol.
- [ ] Update `DefaultRubyGemRestApi` to handle this case

[2019-06-16 16:40] ysb33r opened #376 "Support GEM repositories that only has the Bundler API"
Alluded to by @mkristian. Some repositories only handle the Bundler API.

Will need to add:

- [ ] RepositoryHandlerExtension to take a configuration to indicate the protocol.
- [ ] Create a new REST API client just for Bundler API.  (Might require a new interface, but hopefully not).

[2019-06-16 20:22] ysb33r commented on #325
@xlijun This issue does show a defect, but before I address the potential solution to this, I would to say that if you use a GEM that has `asciidoctor` or `asciidoctor-pdf` has a transitive dependency you should exclude those, because they are bundled within the specific `asciidoctorj` and `asciidoctorj-pdf` JARS. So you would do

[code]

[2019-06-16 20:26] ysb33r commented on #325
Now as to the fix for the most general case, I now have a solution that will go in to 2.0.0 when it is released. The idea with the fix is that specific configurations or just modules can use Gradle's standard Ivy resolution rules rather the GEM version (bundler-like) resolution rules.

[code]

In `gemGroups` one would be able to configure the behaviour of the `GemVersionResolver`. In this case we

[2019-06-16 20:35] ysb33r commented on #325
PR #377 addresses this.

[2019-06-17 13:45] ysb33r opened #378 "Describe new dependency management features in 2.0"
Especially #377

[2019-06-17 13:48] #372 closed

[2019-06-17 13:48] #376 closed

[2019-06-17 13:50] rtyler commented on #371
This was done

[2019-06-17 13:50] #371 closed

[2019-06-17 13:55] rtyler commented on #369
This was also done

[2019-06-17 13:55] #369 closed

[2019-06-17 14:01] rtyler commented on #325
I'm going to close this, the work that @ysb33r I believe do address this use case, and will be documented as part of #378

[2019-06-17 14:01] #325 closed

[2019-06-17 14:03] rtyler opened #379 "Release 2.0.0 alpha"
We need a first alpha release so people can start testing the new resolution functionality.

Unfortunately the way that plugins.gradle.org syncs from bintray means this is likely going to be suggested to anybody that lands on the plugins.gradle.org page for jruby-gradle

[2019-06-17 14:04] ysb33r commented on #379
We can change it to publish straight to plugins.gradle.org and then if you want still write a backup to bintray.

[2019-06-17 14:08] rtyler commented on #379
Bintray is not the problem, plugins.gradle.org is. They show whatever the latest version in their info pages

[2019-06-17 14:19] ysb33r commented on #379
Right I see what you are saying. For that I have a solution that we use in Asciidoctor-Gradle.

We could have something like this defined

[code]

adn then where we provide the plugin text just add that variable.

[2019-06-23 03:09] rtyler commented on #379
Published alpha1

[2019-06-23 03:09] #379 closed

[2019-06-26 10:44] ysb33r opened #380 "GEM Version Resolver must be able to parse single digit twiddle-wakka"
Currently something like `~> 4` will cause an `java.lang.IndexOutOfBoundsException: fromIndex = -1` error.

Expected result is to parse this to Ivy equivalent `[4,)`.

[2019-06-27 13:57] rtyler commented on #380
With the pull request merged, I believe this can be closed.

[2019-06-27 13:57] #380 closed

[2019-08-14 19:23] amiracam opened #383 "Can't load Jruby Gradle plugin"
A problem occurred configuring root project 'JrubyVertxGradle'.

     Searched in the following locations:
       - https://jcenter.bintray.com/com/github/jruby-gradle/jruby-gradle-core-plugin/2.0.0-alpha1/jruby-gradle-core-plugin-2.0.0-alpha1.pom
       - https://jcenter.bintray.com/com/github/jruby-gradle/jruby-gradle-core-plugin/2.0.0-alpha1/jruby-gradle-core-plugin-2.0.0-alpha1.jar
       - ht

[2019-08-14 20:28] ysb33r commented on #383
Unfortunately this an issue that we are waiting for the folks at Gradle Plugin Portal to resolve. The workaround is to add

[code]

[2019-08-14 20:42] amiracam commented on #383
Thanks

Charles A. Monteiro
Chief Technology Officer
Web: www.tradeblazer.com
phone: 347-853-7349

On Aug 14, 2019, 4:28 PM -0400, Schalk W. Cronjé <notifications@github.com>, wrote:

[2019-08-15 01:01] jdomingu opened #384 "rubygems.lasagna.io domain has lapsed"
First, this is an awesome project, so thanks for all your work!

I'm seeing errors for all requests to rubygems.lasagna.io. Navigating to the domain in a browser shows a message that the domain is for sale:
<img width="765" alt="image" src="https://user-images.githubusercontent.com/5760201/63065982-02685880-bebd-11e9-81c8-2856dd8353f8.png">

Is this server still going to be supported in the future

[2019-08-15 15:42] rtyler commented on #384
Heh, that's a pretty funny domain squat. The service was discontinued last year or the year before, I formerly ran it :smile_cat:

More recent versions of the plugin default to rubygems.torquebox.org which is a slightly more maintainer proxy. Our alphas of 2.0.0 don't require a proxy, so if you're interested in helping us get that out the door, you could test it out

[2019-08-19 16:08] jdomingu commented on #384
Thanks for the fast reply! I will try upgrading or pointing to another proxy server.

[2019-08-19 16:08] #384 closed

[2019-10-21 20:18] boris-petrov opened #385 "Gradle 6 deprecation warnings"
Running some JRuby command on Gradle 6 causes these deprecation warnings:

[code]

So yes, either an HTTPS endpoint should be used (preferably) or you should specify that an insecure protocol is to be used explicitly. You can see how this is done [here](https://github.com/gradle/gradle/pull/9419):

[code]

Note that this is a new API in Gradle 6 so this should not be there for Gradle 5 users.

[2019-10-21 21:52] boris-petrov commented on #385
Actually there are more warnings:

[code]

[2019-11-25 12:25] ysb33r opened #386 "Automate release and move away from Travis CI"
I suggest that whilst keeping the source on GitHub we utilise the GitLab Runner support to be able to automate builds and also automate the release process.

We need to
- [ ] Create a jrubygradle group on GitLab
- [ ] Create at least a pipeline mirror of this repository
- [ ] Add the appropriate `.gitlab-ci.yml`
- [ ] Add secret keys for Bintray & Gradle portal to GitLab group
- [ ] Add a section

[2019-11-25 21:26] rtyler commented on #386
@ysb33r I have experimented a bit with GitHub Actions in other projects, would that be a workable fit?

[2019-11-26 11:10] ysb33r commented on #386
@rtyler Let's give Actions a go first.

[2019-12-18 13:22] boris-petrov opened #387 "OpenSSL::X509::StoreError: setting default path failed: No password supplied for PKCS#12 KeyStore."
Arch Linux, JRuby/Gradle 1.7.0, JRuby 9.2.9.0, Gradle 6.0.1, JDK 13.0.1. Using this:

[code]

Causes:

<details><summary>Error</summary>
<p>

[code]

</p>
</details>

[2019-12-19 22:27] ysb33r opened #388 "Remove all dependencies on Torquebox"

[2019-12-20 14:25] boris-petrov opened #390 "Cannot change the JRuby version that is used by the `jrubyPrepare` tasks"
Check [this project](https://github.com/boris-petrov/jruby-gradle-bug).

If you change the `jruby.jrubyVersion = '9.2.9.0'` line to, say, `jruby.jrubyVersion = '9.2.7.0'` and run `gradle rubocop`, you'll see that still the default `9.2.9.0` version is used. In the documentation it is specified that this is a global property and should change the JRuby version for all tasks but it doesn't. This doe

[2019-12-20 14:28] boris-petrov opened #391 "[2.0.0-alpha2] Cannot install RuboCop"
[Here is a reproduction](https://github.com/boris-petrov/jruby-gradle-bug). Just run `gradle rubocop` on that. It fails with:

[code]

I think this is because JRuby/Gradle is not installing the `java` version of the `jaro_winkler` gem for some reason but the "normal" one.

This didn't happen when using `1.7.0`.

[2019-12-20 16:57] ysb33r commented on #388
In 2.0.0-alpha2

[2019-12-20 16:58] #388 closed

[2019-12-20 17:11] ysb33r commented on #390
:man_facepalming: I think I found the cause of this.

[2019-12-20 17:25] ysb33r commented on #391
In 2.0.0-alpha.3

[2019-12-20 17:25] #391 closed

[2019-12-20 17:25] ysb33r commented on #390
In 2.0.0-alpha.3

[2019-12-20 17:25] #390 closed

[2019-12-21 01:43] patburns commented on #388
Because torque box is current down my team is very interested in this.  Have any idea of when you might release 2.0.0?

[2019-12-21 07:43] boris-petrov opened #393 "[2.0.0-alpha.3] Cannot install http-cookie gem"
Thanks for fixing the other issue with the RuboCop gem!

[Here is a reproduction repo](https://github.com/boris-petrov/jruby-gradle-bug). Run `gradle jrubyPrepare` on that. It fails with:

[code]

[2019-12-21 08:43] boris-petrov opened #394 "[2.0.0-alpha.3] Installs a different version of a gem specified"
[code]

Running `gradle jrubyPrepare` on this emits the following output:

[code]

As you can see, the installed version of `selenium-webdriver` is `4.0.0.alpha3` while `3.142.6` is requested. This totally breaks the usage of that gem.

[2019-12-21 23:03] Mogztter commented on #394
@boris-petrov To ease the resolution, could you confirm that this is a regression in 2.0.0-alpha.3. In other words do you reproduce this issue with 2.0.0-alpha.2 or 2.0.0-alpha.1? (not sure if alpha.1 or alpha.2 still relies on torquebox proxy though)

[2019-12-21 23:35] Mogztter commented on #394
@ysb33r I can look into this issue tomorrow if you want?

[2019-12-22 06:50] boris-petrov commented on #394
@Mogztter - thanks for looking into this. The same thing happens on both `2.0.0-alpha2` and `2.0.0-alpha1` so it is a "regression" from `1.7.0`.

[2019-12-22 08:44] ysb33r commented on #394
@Mogztter it would be great if you can.

[2019-12-22 10:54] Mogztter commented on #394
Ok, looking at it right now 👀
Thanks for the clarification @boris-petrov

[2019-12-22 13:00] Mogztter commented on #394
It's a bug in the GemVersion resolution when there's multiple requirements. Currently the following requirements do not produce the expected result:

[code]

[2019-12-22 15:53] Mogztter commented on #394
I think I've found three issues with the current implementation.

#### Intersection

`'[1.2.1,1.2.4]'.intersect(']1.2.1,1.2.4[')` returns `']1.2.1,1.2.4[`'.

I believe this is wrong because the intersection is the set containing all elements of A that also belong to B.
In the above example `1.2.1` is non inclusive in the second definition. Similarly `1.2.4` is also non inclusive. As far as I under

[2019-12-22 16:20] ysb33r commented on #394
I think you are right.

[2019-12-23 07:11] boris-petrov commented on #393
https://github.com/jruby-gradle/jruby-gradle-plugin/issues/341 seems like a similar issue - that is, `jrake` was also the problem there. @rtyler managed to fix it. Perhaps something similar is going on here with `2.0.0-alpha.3`?

[2019-12-23 11:49] gmazzo opened #397 "Support `JRubyExec` in Java and Kotlin"
Right now is not possible to extend `JRubyExec` unless you write your extension class in `groovy`.
You'll get:
[code]

I think you should move the source code of those tasks to Java or Kotlin to support the 3 languages.

[2019-12-23 12:51] #394 closed

[2019-12-23 14:41] ysb33r commented on #393
@boris-petrov The issue tehre was that rake instead of jrake was selected ?

[2019-12-23 14:44] boris-petrov commented on #393
@ysb33r - no, I didn't follow completely what the issue was, but [this commit](https://github.com/jruby-gradle/jruby-gradle-plugin/commit/8194b27b9f9db84abc34535a91f409ddf414fa20) was the one that fixed it. Perhaps that gives you some idea?

[2019-12-23 14:48] NiaTheBat commented on #393
4

[2019-12-23 15:02] boris-petrov commented on #394
@Mogztter - thanks for working on this! However, I get the same behavior on `alpha.4`, not sure why. I think I've cleaned all caches and when I use the exact same `build.gradle` (but changing the plugin version of course) as in the original post, I get the same result. Am I missing something?

[2019-12-23 16:10] Mogztter commented on #394
Not sure... Could you please share a simplified `build.gradle` that reproduces this issue?

FYI I've added an integration test with your dependencies (see: https://github.com/jruby-gradle/jruby-gradle-plugin/pull/396/files#diff-d6117fc30ea3474dc90f0d3abe4d6460R80)

[2019-12-23 16:11] boris-petrov commented on #394
@Mogztter - I saw the test, yes. This is the simplest `build.gradle`:

[code]

If you run `gradle jrubyPrepare` you should see the same (version 4 of Selenium installed). Please confirm or deny - it's possible that I have some caching issue in Gradle or something.

[2019-12-23 16:15] Mogztter commented on #394
I won't be able to check until next week as I'm on vacation :grimacing:

[2019-12-23 16:22] boris-petrov commented on #394
@ysb33r - do you mind trying this `build.gradle` file from my previous comment and writing here whether it installs the correct Selenium version please? I don't understand how Gradle caches work and I'm not sure whether I'm not mistaking something.

[2019-12-23 21:13] boris-petrov commented on #387
Workaround: https://github.com/asciidoctor/asciidoctorj/pull/884#issuecomment-568582686

[2019-12-23 21:41] ysb33r commented on #394
@boris-petrov I am going to give this a quick go.

[2019-12-23 21:52] ysb33r commented on #394
@boris-petrov

I got
[code]
then when running `gradle jrubyPrepare`
[code]
I suspect it might be caching and you have residue because of the previous bug.

Delete the `~/.gradle/rubygems-ivyxml-cache/` folder and try again.

[2019-12-23 21:55] ysb33r opened #398 "Embed a version in the GemResolver cache"
Add a version to the path that caches the Ivy data for the GEMs, so that if a change is made which affects the resolving, old behaviour is not affected (or older bugs do not effect newer resolution).

[2019-12-23 21:58] boris-petrov commented on #394
@ysb33r - great, thanks, I'll try that!

[2019-12-23 22:08] ysb33r commented on #393
That integration tests still exists and passes, something else is now at play.

[2019-12-23 22:18] boris-petrov commented on #393
@ysb33r - the integration test is for a different gem. Perhaps you could add a test with the `build.gradle` I've given in the reproduction repo - that should fail.

[2019-12-23 22:28] ysb33r commented on #397
Are you using 2.0.0-alpha.X ?

[2019-12-23 22:52] ysb33r commented on #393
@boris-petrov Firstly, doing the following will work around your problem
[code]

It seems that the 2.0.0.beta2 GEM of `unf` does not detect the JRuby environment correctly and tries to install the native extension. You might want to raise an issue with the authors of that GEM.
(Maybe there is something that we can fix in the plugin itself, but I am not sure about that).

[2019-12-23 23:01] ysb33r commented on #393
I've just tested it and the GEM can actually be used to build a java variant, so the author should just publish the java variant as well to rubygems.

[2019-12-24 06:55] boris-petrov commented on #393
@ysb33r - thanks, that workaround works! The question remains - why does this work "out-of-the-box" for JRuby/Gradle 1.7.0 but fails on 2.0.0-alpha.4? The same gem is used. Perhaps a different version is resolved?

[2019-12-24 13:58] ysb33r commented on #388
@patburns Pull the latestalpha version. the final version is expected to be out early Jan 2020.

[2019-12-24 14:38] ysb33r commented on #398
In 2.0.0-alpha.5

[2019-12-24 14:38] #398 closed

[2019-12-24 14:43] ysb33r commented on #393
@boris-petrov I figured it out. The old version does not resolve any "development" versions. It was supposed to be a feature of 2.x to turn that option on or off.

[2019-12-24 14:52] boris-petrov commented on #393
@ysb33r - great, thanks for the support! So... how do I turn that option off? I think it should be "off" by default.

[2019-12-24 15:06] gmazzo commented on #397
I've tried alpha.3, yes, and got the same result.

[2019-12-24 16:51] ysb33r commented on #397
When I get a chance I'll see if I can write a test for it.

[2019-12-24 16:52] ysb33r commented on #397
I assume you tried to extend using Kotlin?

[2019-12-24 16:55] gmazzo commented on #397
Do you really need groovy classes? Just regular Java classes will work for any platform. Actually, it would be nice to add a test with KTS too, as Kotlin scripts are getting relevance vs Groovy ones and the is a lot a plugins not designed for it. You should not rely on Closure for instance and replace it with Action, from Gradle's API

[2019-12-24 22:44] ysb33r commented on #397
Yes, it is a lot more work to write wide-Gradle compatibility in Java.

You are right about Closures. If you find places in the 2.x API where Action-based methods are missing, please raise a defect so that support can be added.

[2019-12-25 18:32] ysb33r commented on #393
It will be in 2.0.0-alpha.7

If you do
[code]
prerelease GEMs will no longer be considered as you would expect.

But you can do
[code]
if you do need them.

[2019-12-25 18:32] #393 closed

[2020-01-17 17:16] ysb33r opened #401 "Add Maven GEMs repository that is supported by JRuby group"
- [ ] Add mavengems.jruby.org as `ruby.mavengems(), defaults to using `rubygems` group
- [ ] Add overloads that take closure, Action to configure if necessary
- [ ] Add ability to select another group.

[2020-01-17 18:21] #290 closed

[2020-01-17 22:55] #378 closed

[2020-01-17 22:55] #401 closed

[2020-03-20 08:50] rhysm opened #403 "Fails to parse gem versions surrounded by single quotes"
Hi,

I am using version 2.0.0 with the following dependency:

[code]

This throws the following exception when trying to parse the gem version:

[code]

The [manticore.gemspec](https://github.com/cheald/manticore/blob/5a2fb766cb6f96ff7b1082381d65f15f6235dbb5/manticore.gemspec#L34) has single quotes around the version numbers in the jar requirements.

Should the quotes be removed from the gemspec s

[2020-03-21 03:10] amimas opened #404 "Build script is not downloading/installing gems needed by JRubyExec"
Hello,

I'm relatively new to this plugin. I've been going through the documentation as well as the examples in this repository but I cannot seem to  get a simple build script setup. Below is my `build.gradle` file, which is taken from the one of the examples in this repository that has a Gradle task for executing a ruby script, that has a dependency on a ruby gem.

[code]

When I run `./gradlew r

[2020-03-23 00:26] amimas commented on #404
After a lot of trial and error, I managed to get the example working. Here's my complete `build.gradle` script:

[code]

I'm not 100% sure, but pretty sure I had tried this but it didn't work. Not knowing what to do, I decided to  look into my gradle cache, `~/.gradle/caches/modules-2/files-2.1/rubygems/` and I did see the `colorize` gem in there. Since it wasn't working, I decided to delete the e

[2020-03-23 01:42] amimas opened #405 "gem dependency is not resolved properly"
Hello,

I'm relatively new to this plugin and I see a lot of potential. Unfortunately I am seeing a big issue and not sure if it's a bug or intended to be this way. The documentation site didn't help much either.

Here's the full gradle script:

[code]

Run `./gradlew printSomePrettyOutputPlease` and the `colorize` gem  gets downloaded/installed and a few colourful lines are printed (it's from the

[2020-05-21 03:38] xifanyan opened #406 "multiple jar files support with jrubyJar"
I have a bunch of scripts which based on same set of library file

root  |-->s1-->s1.rb
         |-->s2-->s2.rb
         |-->lib-->l1.rb
                    |->l2.rb

I have no problem to create one jar file based on either s1 or s2, that worked perfect, thanks for the great work. but how can I make my build.gradle to have 2 set of tasks and generate s1.jar and s2.jar seperately ?

I tried to crea

[2020-05-31 07:04] boris-petrov commented on #387
This shouldn't be an issue any more on JRuby/Gradle 2.0.0.

[2020-05-31 07:04] #387 closed

[2020-06-03 14:15] blling opened #407 "com.github.jruby-gradle.base 2.0.0 not working when use kotlin DSL"
I configed like this:
[code]
but i get an error `Unresolved reference: ruby`

[2020-06-22 19:23] headius commented on #404
Thanks for filing this and I'm sorry we never got around to helping out! I'm going to work with the owner of jruby-gradle to move this under the jruby organization, so we can help maintain and respond to requests.

It looks like this may be mostly a matter of documentation? I'm glad you were able to figure out how to make it work, but perhaps we should have more examples that help the next person.

[2020-06-22 19:25] headius opened #408 "Move repository under jruby organization"
It appears a lot of issues have gone unnoticed by the JRuby team, and I am thinking maybe we should consider moving this repository under the `jruby` organization and supporting it from there. That would make it easier to track updates, at least, and perhaps the centralized management would mean we can support this project better.

Thoughts, @rtyler @enebo?

[2020-06-22 20:13] ysb33r commented on #408
I would be more than happy for this to happen.

[2020-06-22 20:25] rtyler commented on #408
I'm fine with that. We can probably leave everything else here for now.

[2020-06-22 20:26] rtyler commented on #408
@headius made you an owner in this organization, you can initiate the transfer

[2020-06-22 20:31] headius commented on #408
@rtyler I was about to say making us part owners would also be a possibility. I'll confer with @enebo and try to decide what's the best option. I wish there was a concept of sub-organizations!

[2020-06-23 00:23] amimas commented on #404
Thanks for your reply. Glad to see some movement in this repo. Ultimately I couldn't use this in my use-case because of issues/bugs but I think this has a lot of potential.

[2020-07-29 12:38] josselinchevalay opened #409 "weird error with concurrent task assert jRubyClasspath != null"
hello,

currently i try to use Jruby exec to run a script to use [LicenseFinder](https://github.com/pivotal/LicenseFinder). For that  i use this plugin to wrap licenseFinder and jruby : [here](https://github.com/Itiviti/gradle-licenseFinder-plugin).  that is for context

so i have this error :

[code]

any idea about that ?

regards

[2020-08-02 20:44] rtyler commented on #409
I'm not seeing in the stacktrace enough hints to let me know what version of JRuby/Gradle you're using. Mind sharing that?

If you have a reproduction case that I can tinker with, that would also be helpful.

[2020-08-06 14:12] josselinchevalay commented on #409
i use v1.6.0 : you can check [here](https://github.com/Itiviti/gradle-licenseFinder-plugin/blob/master/build.gradle#L24)

[2020-08-06 17:09] rtyler commented on #409
The current supported release is 2.0.0, would you be able to try that to see if it still has the same issues?

[2020-08-17 09:16] josselinchevalay commented on #409
hello i create a branch and  to that : https://github.com/Itiviti/gradle-licenseFinder-plugin/blob/feature/update-jruby/build.gradle#L24 you can check. With this version i continue to have this error :

[code]

[2020-08-18 09:45] josselinchevalay commented on #409
hello today i'm continu to try somethig and now i have new error message. Seems jruby try to change some classpath and gradle seems not autorise that

[code]
FYI i use gradle 5.6.4

any idea  ?

Regards

[2020-10-02 02:15] xifanyan opened #410 "how to pass Jruby arguments e.g., -W0 to jar file ?"
I was able to create a runnable jar file using jar plugin, but saw a bunch of jruby warning messages, is there a way to pass -W0 to suppress the message ?

[2020-11-06 07:01] paulk-asert commented on #288
+1

[2020-11-06 07:10] paulk-asert commented on #404
I think I am also seeing something similar to this. I was trying to add a JRuby constraint-programming example (invoked via Gradle) as per here:
https://github.com/paulk-asert/groovy-constraint-programming/tree/master/subprojects/SendMoreMoneyJRuby

The gem free `SendMoreMoneyBruteForce.rb` example works fine as does the `PrintScript.rb` (copy of print-script) colorize example (after working aroun

[2020-11-15 14:27] ysb33r opened #414 "Remove usage of afterEvaluate in jrubyJar"
This will probably fail in Gradle 7.0.

[2020-11-15 14:28] ysb33r opened #415 "Fix JRubyJar.updateStageDirectory"
Tasks should not be creating conventions.

[2020-11-23 12:29] ysb33r opened #417 "JRubyJar recusively builds Jar contents until disk space is exhausted (2.1.0-alpha.2)"

[2020-12-09 17:46] boris-petrov commented on #385
@ysb33r - (at least) these are still an issue:

[code]

I understand that Gradle 7 is coming very soon so it would be nice to have these fixed so that `JRuby/Gradle` works with it. Thanks!

[2020-12-09 19:54] ysb33r commented on #385
@boris-petrov I'm working to have these resolved in the 2.1.0-alpha.X versions. There are still bugs in the alpha version. like the JAR plugin not working. If you don;t need that you could take the the latestr alpha for a sping to see if it resolves the issues.

[2021-02-08 18:15] boris-petrov commented on #385
@ysb33r - I saw that version 2.0.1 resolves some Gradle warnings and I think I don't see the ones mentioned above any more. Thanks for that! Perhaps this issue could be closed or some warnings are still left?

[2021-02-08 19:23] ysb33r commented on #385
@boris-petrov Those are addressed thanks to @lptr.

BTW use 2.0.2 instead of 2.0.1

[2021-02-08 19:23] #385 closed

[2021-02-08 19:31] boris-petrov opened #420 "Publish the plugin to Maven Central"
[Bintray+JCenter is being terminated](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/) so the path forward would be to use Maven Central (at least for now - we're still waiting on official information from the Gradle team). There is a nice summary on what must be done [here](https://mvysny.github.io/jcenter-is-dead/).

[2021-02-08 19:44] ysb33r commented on #420
No, these plugins should be published directly to the Gradle Plugin Portal

[2021-02-08 19:45] boris-petrov commented on #420
Or that, yes. Not sure if there are any limitations to that. If you manage to do it and want to write the steps down, please share it here. Thanks!

[2021-02-08 19:50] ysb33r commented on #420
I know how to do that, but there are some process decisions to be made.

. How is going to own the portal account and keys. Although I can do that I fee that the JRuby team is better suited to this. (@headius ?)
. I am waiting to see what the Gradle team is going to work out about migrating older artifacts that were using the Bintray sync mechanism.

[2021-02-08 23:22] yooksi opened #421 "Cannot cast object extension jruby"
Gradle version: `6.8.2`
Plugin version: `jruby-gradle.base:2.0.1`

[code]

[2021-02-10 22:16] headius commented on #420
JRuby team would be the right group to own these credentials but we need some help managing this plugin.

[2021-04-13 02:19] fadhlimaulidri commented on #404
i have try, before i get error too. but after i add `jcenter()` in repositories. it work as expected. this is full my build.gradle

[code]

[2021-04-13 07:05] fadhlimaulidri opened #422 "any version for java 8?"
i have framework which its big enough, and java version is java 8. any version this porject for java 8?

[2021-04-13 17:08] ysb33r commented on #420
@rtyler First thing is to recover the credentials to publish to Gradle portal, once you have that then we can add them as protected variables in GH and use a GH Actions to publish

[2021-04-30 03:27] rtyler commented on #420
`PUBLISH_KEY` and `PUBLISH_SECRET` added to GitHub Actions. Would that be enough to help you take this from here @ysb33r ?

[2021-05-02 18:19] ysb33r commented on #422
It should work as java8. We set compatibility to KDJ8 in the build.

[2021-05-02 18:22] ysb33r commented on #386
@rtyler Thanks. I've added the first GH actions, now just have to add the job for publishing and modify gradle build accordingly

[2021-05-03 09:02] ysb33r commented on #420
@rtyler I made a bunch of progress, but it is curretnly failing with

[code]
(https://github.com/jruby-gradle/jruby-gradle-plugin/runs/2487940190?check_suite_focus=true)

I'm not sure yet whether the credentials are incorrect or whether they are not passed in correctly in the `publish` job.

Maybe someone with more GHA-fu can confirm whether the repository secrets are being used correctly: https:/

[2021-05-27 08:57] ysb33r commented on #407
Thanks for raising this! There is a lot of older code that needs clean up in these plugins and it will only happen if people find issues :smile_cat:

[2021-05-27 08:59] ysb33r commented on #407
However, you should have had no need to go down to `RepositoriesInternal`, because as you said it is `ExtensionAware`. I'll look into this when I get a chance.